<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Modifier Compte {{p.prenom+"   "+ p.nom }}</div>
    <div class="panel-body">
      <div>
        <div class="form-group">
          <mat-form-field>
            <input  matInput placeholder="Login" [(ngModel)]="personnel.login">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input  matInput placeholder="Mot de Passe:"  [type]="hide ? 'password' : 'text'" [(ngModel)]="personnel.motpasse"/>
            <mat-icon matSuffix class="clickable" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="updateUser()">Modifier</button>
        <button mat-raised-button color="primary" (click)="annuler()">Annuler</button>
      </div>
    </div>
  </div>
</div>

