<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Modifier Grade</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="grade.id">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="grade.titre">
      </mat-form-field>
          <button mat-icon-button color="primary"(click)="updateGrade()"><mat-icon>border_color</mat-icon></button>
        </div>
    </div>
  </div>
</div>
