<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModGrad' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="grade.id" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="grade.titre">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="الرتبة" [(ngModel)]="grade.titreAr">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Corps" [(ngModel)]="grade.corps.libelleCps" disabled>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="السلك" [(ngModel)]="grade.corps.libelleCpsAr" disabled>
            </mat-form-field>
          <button mat-mini-fab color="primary" (click)="updateGrade()"><mat-icon>create</mat-icon></button>
        </div>
    </div>
  </div>
</div>
