<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Ajouter Departement</div>
  <div class="panel-body">
    <div>
      <form>
        <mat-form-field>
          <input matInput type="text" placeholder="Nom de Departement" [(ngModel)]="departement.nomDep">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="ajouter()"><mat-icon>add_circle</mat-icon></button>
      </form>
    </div>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">Afficher Departement</div>
    <div class="panel-body">
      <input type ="text" placeholder="Nom de Departement" [(ngModel)]="motCle"/>
      <button mat-icon-button (click)="doSearch()"><mat-icon>search</mat-icon></button>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom</th><th>Modifier</th><th>Supprimer</th>
        </tr>
        <tr *ngFor="let d of departements">
          <td>{{d.idDep}}</td>
          <td>{{d.nomDep}}</td>
          <td><a (click)="onEditDepartement(d.idDep)" class="clickable"><mat-icon >create</mat-icon></a> </td>
          <td><a (click)="onDeleteDepartement(d)" class="clickable"><mat-icon >delete_sweep</mat-icon></a> </td>
        </tr></table>
    </div>
  </div>
</div>
