  <div class="main_container">
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"> <span>ISET Sfax</span></a>
      </div>
      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <img src="../../assets/images/user_pic.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>{{'Table.CBienvenu' | translate }},</span>
          <h2 *ngIf="lang==='fr'">{{nom}}</h2>
          <h2 *ngIf="lang==='ar'">{{nomAr}}</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->
      <br />
      <br />
<!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <!-- <h3>General</h3> -->
          <ul class="nav side-menu">
            <li><a id="homeli" routerLink="/profile"><i class="fa fa-home"></i> {{'SideBar.MAccueil' | translate }}</a>
              <li><a id="uielementsli" (click)="anchorClicked($event)"  *ngIf="role=='Admin'"><i class="fa fa-users"></i> {{'SideBar.MUtilisateur' | translate }} <span id="uielementschevron" class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="/new-user">{{'SideBar.SMAjouterUt' | translate }}</a></li>
                  <li><a routerLink="/users">{{'SideBar.SMListeUt' | translate }}</a></li>
                </ul>
              </li>
              <li><a id="formsli" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-address-card" ></i>{{'SideBar.MPersonnel' | translate }}<span id="formschevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/personnel"><i class="fa fa-address-book"></i>{{'Personnel.TITLE' | translate }}</a></li>
                <li><a id="listePersonnel" (click)="anchorClicked($event)"><i class="fa fa-align-justify" ></i>{{'SideBar.SMPersonnel' | translate }}<span id="tableschevron" class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a routerLink="/ListePersonnel">{{'SideBar.SMEnseignantV3' | translate}}</a></li>
                    <li><a routerLink="/ListeAdmin">{{'Table.CAdmin' | translate}}</a> </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a id="formEnsgVac" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'||role=='DirecteurES'"><i class="fa fa-address-card" ></i>{{'SideBar.MEnseignantV' | translate }}<span id="formschevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/AjouterVacataire"><i class="fa fa-address-book"></i>{{'SideBar.SMEnseignantV1' | translate }}</a></li>
                <li><a id="enseigVact" (click)="anchorClicked($event)"><i class="fa fa-align-justify"></i>{{'SideBar.SMEnseignantV3' | translate }}<span id="tableschevron" class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a routerLink="/ListeVacation">{{'SideBar.MEnseignantL' | translate}}</a></li>
                      <li><a routerLink="/ListeEnseignantFonct">{{'SideBar.MEnseignantF' | translate}}</a></li>
                  </ul> 
                </li>
                <li><a routerLink="/ConsultationVacation" *ngIf="role=='Admin'||role=='DirecteurES'"><i class="fa fa-align-justify"></i>{{'SideBar.SMEnseignantV2' | translate }}</a></li>
              </ul>
            </li>
            <li><a id="tablesli" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-table"></i>{{'SideBar.MConge' | translate }} <span id="tableschevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a  id="congepersonnel" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'">{{'SideBar.SMConge1' | translate }} <span id="tableschevron" class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a routerLink="/conge">{{'Table.CEnseignantP' | translate}}</a></li>
                      <li><a routerLink="/congeAdmin">{{'Table.CAdministratif' | translate}}</a></li>
                    </ul>
                </li>
                <li><a routerLink="/consultationConge" *ngIf="role=='Admin'||role=='AgentGRH'">{{'SideBar.SMConge2' | translate }}</a></li>
                <li><a  id="congeListe" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'">{{'SideBar.SMConge3' | translate }}<span id="tableschevron" class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="/ListeConge">{{'Table.SSMCongeA' | translate}}</a></li>
                  <li><a routerLink="/CongeRattraper">{{'Table.SSMCongeR' | translate}}</a></li>
                  <li><a routerLink="/CongeRefuser">{{'Table.SSMCongeRf' | translate}}</a></li>
                </ul>
              </li>
              </ul>
            </li>
            <li><a id="ajouter" (click)="anchorClicked($event)" *ngIf="role=='utilisateur'||role=='DirecteurES'" routerLink="/congePersonnel"><i class="fa fa-table"></i>{{'SideBar.MConge' | translate }}</a>
              <!--<ul class="nav child_menu">
                <li><a routerLink="/conge" >Ajouter Congé</a></li>
                <li><a routerLink="/consultationConge">Liste des congés</a></li>
                <li><a routerLink="/historiqueConge">Historique des congés</a></li>
              </ul>-->
            </li>
            <li><a id="historique" (click)="anchorClicked($event)" *ngIf="role=='utilisateur'||role=='DirecteurES'" routerLink="/personnelhistorique"><i class="fa fa-book"></i>{{'Table.CHistoriqueConge' | translate }}</a>
            </li>
            <li><a id="tablesty" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-edit"></i> {{'SideBar.MMutation' | translate }} <span id="tableschevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/mutation">{{'SideBar.SMMutation1' | translate }}</a></li>
                <li><a routerLink="/ListeMutation">{{'SideBar.SMMutation2' | translate }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a id="additionalli" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-bookmark"></i> {{'SideBar.MDonneB' | translate }}<span id="additionalchevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/grade">{{'SideBar.MGrade' | translate }}</a></li>
                <li><a routerLink="/diplome">{{'SideBar.MDiplome' | translate }}</a></li>
                <li><a routerLink="/departement">{{'SideBar.MDepartement' | translate }}</a></li>
                <li><a routerLink="/corps">{{'SideBar.MCorps' | translate }}</a></li>
                <li><a routerLink="/typeConge">{{'SideBar.MTypeC' | translate }}</a></li>
                <li><a routerLink="/typeMutation">{{'SideBar.MTypeM' | translate }}</a></li>
                <li><a routerLink="/specialite">{{'SideBar.MSpecialite' | translate }}</a></li>
                <li><a routerLink="/OrgAccueil">{{'SideBar.MOrganisme' | translate }}</a></li>
                <li><a routerLink="/service">{{'SideBar.MService' | translate }}</a></li>
                <li><a routerLink="/posteAdmin">{{'SideBar.MPoste' | translate }}</a></li>
              </ul>
            </li> 
            <li><a id="etats" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'||role=='DirecteurES'"><i class="fa fa-address-card" ></i>{{'SideBar.MEtat' | translate }}<span id="formschevron" class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a (click)="ListePersonnel('Departement')">{{'SideBar.LDepartement' | translate }}</a></li>
                <li><a (click)="ListePersonnel('Grade')">{{'SideBar.LGrade' | translate }}</a></li>
                <li><a (click)="ListePersonnel('Corps')">{{'SideBar.LCorps' | translate }}</a></li>
                <li><a (click)="ListePersonnel('Actif')">{{'SideBar.LActif' | translate }}</a></li>
                <li><a (click)="ListePersonnel('Inactif')">{{'SideBar.LInactif' | translate }}</a></li>
                <li><a id="etatConge" (click)="anchorClicked($event)">{{'SideBar.SMEtatC' | translate }}<span id="formschevron" class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a (click)="congeMois('CongeMensuel')">{{'SideBar.SSMEtatM' | translate }}</a></li>
                  <li><a (click)="congeMois('CongePersonnel')">{{'SideBar.SSMEtatEn' | translate }}</a></li>
                  <li><a (click)="congeMois('CongeType')">{{'SideBar.SSMEtatType' | translate }}</a></li>
                </ul>
              </li>
              </ul>
            </li>
            <li><a id="datali" routerLink="/Statistique" (click)="anchorClicked($event)" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-bar-chart-o" ></i>{{'SideBar.MStatistique' | translate }} <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
              <!--   <li><a href="/">Chart JS</a></li>
                <li><a href="/">Chart JS2</a></li> -->
              </ul>
            </li>  
            <li><a id="importationli" (click)="importer()" *ngIf="role=='Admin'||role=='AgentGRH'"><i class="fa fa-windows"></i> {{'SideBar.MImportation' | translate }}</a>
              <!-- <ul class="nav child_menu">
                <li><a (click)="importer()">Fichier Excel</a></li>
              </ul> -->
            </li>         
          </ul>
        </div>
    </div>
  </div>
</div>
<!-- /sidebar menu -->
  <!-- /menu footer buttons 
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
   /menu footer buttons -->
</div> 
