<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Modifier Corps</div>
  <div class="panel-body">
    <div>
        <mat-form-field>
          <input matInput placeholder="Identifiant" [(ngModel)]="corps.idcps">
        </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Libellé" [(ngModel)]="corps.libelle">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="updateCorps()">
        <mat-icon>border_color</mat-icon></button>

        </div>
    </div>
  </div>
</div>
