<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModCorp' | translate}}</div>
  <div class="panel-body">
    <div>
        <mat-form-field>
          <input matInput placeholder="ID" [(ngModel)]="corps.idcps" disabled>
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Libellé" [(ngModel)]="corps.libelleCps">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="السلك" [(ngModel)]="corps.libelleCpsAr">
        </mat-form-field>
      <button mat-mini-fab color="primary" (click)="updateCorps()">
        <mat-icon>create</mat-icon></button>

        </div>
    </div>
  </div>
</div>
