<app-index></app-index>
<div class="container spacer">
<div class="panel panel-default">
  <div class="panel-heading">{{'SideBar.SMPersonnel'| translate}}</div>
  <div class="panel-body">
  <mat-tab-group class="demo-tab-group">
  <mat-tab label="Enseignant">
   <div class="demo-tab-content">
           <table class="table table-hover" cellspacing="0">
          <thead>
           <tr>
              <th>{{'Table.CID'| translate}}</th><th>{{'Table.CMatricule'| translate}}</th><th>{{'Table.CCIN'| translate}}</th><th>{{'Table.CPrenom'| translate}}&{{'Table.CNom'| translate}}</th><th>{{'Table.CDateNais'| translate}}</th><th>{{'SideBar.MDepartement'| translate}}</th><th>{{'Table.CEtat'| translate}}</th><th>{{'SideBar.MGradeAct' | translate}}</th><th>{{'Table.CModifier'| translate}}</th><th>{{'Table.CDetails'| translate}}</th><th>{{'Table.CAttestationT'| translate}}</th><th>{{'Table.CReprise' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let e of pageEnseignant?.content">
          <td>{{e.idPers}}</td>
          <td>{{e.matricule}}</td>
          <td>{{e.cin}}</td>
          <td *ngIf="lang=='fr'">{{e.prenom}} {{e.nom}}</td>
          <td *ngIf="lang=='ar'"><b>{{e.prenomAr}} {{e.nomAr}}</b></td>
         <td>{{e.datenaissance}}</td>
         <td *ngIf="e.departement!=null && lang=='fr'">{{e.departement.nomDep}}</td>
         <td *ngIf="e.departement!=null && lang=='ar'">{{e.departement.nomDepAr}}</td>
         <td *ngIf="e.departement==null">{{e.departement}}</td>
         <td *ngIf="e.etat!=null  && lang=='fr'">{{e.etat.libelleEtat}}</td>
         <td *ngIf="e.etat!=null  && lang=='ar'">{{e.etat.libelleEtatAr}}</td>
         <td *ngIf="e.etat==null">{{e.etat}}</td>
         <td *ngIf="lang=='fr'">{{e.gradeActuel}}</td>
         <td *ngIf="lang=='ar'">{{e.gradeActuelAr}}</td>
         <td><a (click)="onEditEnseignant(e.idPers)" class="clickable"><mat-icon>create</mat-icon></a> </td>
        <td><a (click)="onDetailsEnseignant(e.idPers)" class="clickable"><mat-icon>list_alt</mat-icon></a> </td>
        <td><a (click)="Imprimer(e.idPers,e.sexe)" class="clickable"><mat-icon>print</mat-icon></a> </td>
        <td><a (click)="ImprimerReprise(e.idPers)" class="clickable"><mat-icon>print</mat-icon></a> </td> 
      </tr>
      </tbody>
        </table>
         <!-- <button mat-button color="primary" (click)="Imprimer()"><mat-icon>print</mat-icon>Imprimer</button> -->
      </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>
</div>