<div class="panel panel-primary">
  <div class="panel-heading">Ajouter Diplôme</div>
  <div class="panel-body">
    <div>
    <form class="form-inline">
      <div class="form-group">
        <label class="control-label">Titre de diplôme :</label>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Titre de Diplôme" [(ngModel)]="diplome.titre">
        <button type="button" class="btn btn-primary btn-md" (click)="ajouter()">Ajouter Diplôme</button>
      </div>
    </form>
    </div>
  </div>
      <div class="panel panel-default">
        <div class="panel-heading">Afficher Diplôme</div>
        <div class="panel-body">
    <div class="form-group">
      <label>Mot Clé</label>
      <input type="text" [(ngModel)]="motCle"/>
      <button class="btn btn-primary" (click)="doSearch()">Chercher</button>
    </div>
    <table class="table table-striped">
      <tr>
        <th>ID</th><th>Titre</th><th>Modifier Diplôme</th><th>Supprimer Diplôme</th>
      </tr>
      <tr *ngFor="let d of diplomes">
        <td>{{d.idDip}}</td>
        <td>{{d.titre}}</td>
        <td><a (click)="onEditDiplome(d.idDip)" class="clickable">Modifier</a> </td>
        <td><a (click)="onDeleteDiplome(d)" class="clickable">Supprimer</a> </td>
      </tr></table>
  </div>
  </div>

