<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
  <div class="panel-heading">Nouveau Utilisateur</div>
  <div class="panel-body">
    <div>
        <div class="form-group">
          <mat-form-field>
        <input  matInput placeholder="Login" [(ngModel)]="user.login">
          </mat-form-field>
        </div>
      <div class="form-group">
      <mat-form-field>
        <input  matInput placeholder="Mot de Passe:"  type="password" [(ngModel)]="user.motpasse"/>
      </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-select placeholder="Choisir Personnel" [(value)]="personnel">
            <mat-option *ngFor="let p of personnels" [value]="p">
              {{p.prenom+"   "+ p.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
     </div>
      <button mat-raised-button color="primary" (click)="saveUser()">Enregistrer</button>
      <button mat-raised-button color="primary" (click)="annuler()">Annuler</button>
    </div>
  </div>
</div>
</div>
