<!------ Include the above in your HEAD tag ---------->
<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Demande Vacation</button></div>
<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel" align="center">Demande Vacation Enseignement</h3>
		</div>
		<div class="modal-body">
            <!-- content goes here -->
			<form id="upload-file-form">
        <mat-radio-group name="typeneseig" [(ngModel)]="demandeVacation.typeDemande">
          <mat-radio-button value="EnseignantFonctionnaire">Enseignant Fonctionnaire de l'etat</mat-radio-button>
          <mat-radio-button value="EnseignantLibre">Enseignant Libre</mat-radio-button>
        </mat-radio-group><br>
                        <label for="cinh">Votre CIN *</label>
                        <input type="text" id="cinh" name="cin" placeholder="Votre CIN.." [(ngModel)]="demandeVacation.cin">
                        <label for="country">Veillez renseigner votre civilité *</label>
                        <select id="civilite" name="civilite">
                          <option value="monsieur">M.</option>
                          <option value="madame">Mme.</option>
                          <option value="mademoiselle">Mlle.</option>
                        </select>
                        <label for="fname">Sexe *</label>
                        <mat-radio-group>
                          <mat-radio-button value="F">Femme</mat-radio-button>
                          <mat-radio-button value="H">Homme</mat-radio-button>
                        </mat-radio-group><br>
                      <label for="fname">Nom *</label>
                      <input type="text" id="fname" name="firstname" placeholder="Votre Nom.." [(ngModel)]="demandeVacation.nom">
                  
                      <label for="lname">Prénom *</label>
                      <input type="text" id="lname" name="lastname" placeholder="Votre prénom.." [(ngModel)]="demandeVacation.prenom">
                  
                      <label for="email">E-mail *</label>
                      <input type="text" id="em" name="email" placeholder="Votre email.."[(ngModel)]="demandeVacation.email">
                  
                      <label for="telephone">Téléphone *</label>
                      <input type="text" id="tel" name="telephone" placeholder="Votre numéro de téléphone.." [(ngModel)]="demandeVacation.telephone">
                    
                      <label for="subject">Adresse *</label>
                      <textarea id="subject" name="subject" placeholder="Votre adresse.." style="height:100px" [(ngModel)]="demandeVacation.adresse"></textarea>
                  
                      <label for="country">Ville *</label>
                        <select id="country" name="country" [(ngModel)]="demandeVacation.ville">
                          <option value="ariana">Ariana</option>
                          <option value="beja">Béja</option>
                          <option value="benarous">Ben Arous</option>
                          <option value="bizert">Bizert</option>
                          <option value="gabes">Gabes</option>
                          <option value="gafsa">Gafsa</option>
                          <option value="jendouba">Jendouba</option>
                          <option value="kairouan">Kairouan</option>
                          <option value="kebeli">Kebéli</option>
                          <option value="kasserine">Kasserine</option>
                          <option value="lekef">Le Kef</option>
                          <option value="mahdia">Mahdia</option>
                          <option value="mannouba">Mannouba</option>
                          <option value="mednine">Mednine</option>
                          <option value="monastir">Monastir</option>
                          <option value="nabeul">Nabeul</option>
                          <option value="siliana">Siliana</option>
                          <option value="sidibouzid">Sidi Bouzid</option>
                          <option value="sfax">Sfax</option>
                          <option value="sousse">Sousse</option>
                          <option value="tataouine">Tataouine</option>
                          <option value="tozeur">Tozeur</option>
                          <option value="tunis">Tunis</option>
                          <option value="zaghouan">Zaghouan</option>
                        </select>
                  
                      <label for="cdepost">Code Postal *</label>
                      <input type="text" id="cdepost" name="codePostal" placeholder="Votre code postal.." [(ngModel)]="demandeVacation.codePostal">
                      <label for="specialite">Specialité *</label>
                        <select placeholder="Spécialité" [(ngModel)]="specialite" name="spec" required>
                          <option *ngFor="let s of specialites" [ngValue]="s" name="spec">
                            {{ s.libelleSp }}
                          <option>
                        </select>
                      <label for="subject">Profil recherché *</label>
                      <textarea id="subject" name="subject" placeholder="Votre profil recherché.." style="height:100px" [(ngModel)]="demandeVacation.profilRech"></textarea>
              <div class="form-group">
                <label for="exampleInputFile">Importez vos diplômes..</label>
                <input type="file" id="exampleInputFile"name="uploadfile" accept="*" (change)="onFileSelected($event)" value="uploadfile"/>
              </div>
              <div class="checkbox">
              </div>
            </form>
            <br>
            <p>* champs obligatoires</p>

		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Annuler</button>
				</div>
				<div class="btn-group btn-delete hidden" role="group">
					<button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" (click)="Enregistrer()" role="button">Envoyer ma demande</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>

                          