<app-index></app-index>
<div class="container spacer">
<div class="panel panel-default">
  <div class="panel-heading">AJOUTER ENSEIGNANT</div>
  <div class="panel-body">
    <form class="form-default">
      <div class="form-group">
        <label class="control-label col-sm-2" for="matricule">Matricule:</label>
        <div class="col-sm-10">
          <input type="matricule" class="form-control" id="matricule" placeholder="Entrer matricule">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="cin">CIN:</label>
        <div class="col-sm-10">
          <input type="cin" class="form-control" id="cin" placeholder="Entrer votre cin">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="nom">Nom:</label>
        <div class="col-sm-10">
          <input type="nom" class="form-control" id="nom" placeholder="Entrer votre nom">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="prenom">Prénom:</label>
        <div class="col-sm-10">
          <input type="prenom" class="form-control" id="prenom" placeholder="Entrer votre prenom">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="nomPere">Nom Pére:</label>
        <div class="col-sm-10">
          <input type="nomPere" class="form-control" id="nomPere" placeholder="Entrer nom pére">
        </div>
      </div>
      <div class="form-group ">
        <label class="control-label col-sm-2" for="date">Date de naissance:</label>
        <div class="col-sm-10">
          <input class="form-control" type="date" value="2011-08-19" id="date" placeholder="Entrer votre date de naissance">
        </div>
      </div>
      <div class="form-group ">
        <label class="col-sm-2 col-form-label">Sexe:</label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Homme
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Femme
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="telephone">Téléphone:</label>
        <div class="col-sm-10">
          <input type="telephone" class="form-control" id="telephone" placeholder="Entrer  votre numéro du téléphone">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="telephone">E-mail:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="exemple@xyy.com">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="adresse">Adresse :</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="adresse" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="codep">Code Postal:</label>
        <div class="col-sm-10">
          <input type="codep" class="form-control" id="codep">
        </div>
      </div>
      <div class="form-group ">
        <label class="col-sm-2 col-form-label">Etat civil:</label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Célibataire
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Marié(e)
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Divorcé(e)
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="spec">Spécialité:</label>
        <div class="col-sm-10">
          <input type="spec" class="form-control" id="spec">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="etatc">Département:</label>
        <div class="col-sm-10">
          <select class="form-control" id="dip">
            <option>Sciences Economiques et de Gestion</option>
            <option>Technologie de l'Informatique</option>
            <option>Génie des Procédés</option>
            <option>Génie Civil</option>
            <option>Génie Mécanique</option>
          </select>
        </div>
      </div>
      <div class="form-group ">
        <label class="col-sm-2 col-form-label">Etat:</label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Actif
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Non-actif
        </label>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="etatc">Diplôme:</label>
        <div class="col-sm-10">
          <select class="form-control" id="dip">
            <option>Doctorat</option>
            <option>Mastére</option>
            <option>Licence</option>
          </select>
        </div>
      </div>
    </form>
    <button type="submit" class="btn btn-info" (click)="Enregistrer()">Ajouter</button>
    <button type="submit" class="btn btn-info" (click)="annuler()">Annuler</button>
  </div>
</div>




