<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-heading">{{nom}}</div>
    <div class="panel-body">
  <h3>{{'Table.CHistoriqueCongeDe'|translate }} {{nom}}</h3>
<br>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="Historique/تاريخ العطل">
      <div class="demo-tab-content">
        <br>
  <table class="table table-hover" cellspacing="0">
    <thead>
  <tr>
<th>{{'Table.CID'| translate}}</th><th>{{'Table.CDateDebut' | translate}}</th><th>{{'Table.CDateFin' | translate}}</th><th>{{'SideBar.MTypeC' | translate}}</th><th>{{'Table.CNombreJ' | translate}}</th><th>{{'Table.CDecision' | translate}}</th><th>{{'Table.CReprise' | translate}}</th><th>{{'Table.CmodifierR' | translate}}</th><th>{{'Table.CReprise' | translate}}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let c of pageConge?.content">
    <td>{{c.idCong}}</td>
    <td>{{c.dateDebut}}</td>
    <td>{{c.dateFin}}</td>
    <td *ngIf="lang=='fr'">{{c.typeconge.libelleType}}</td>
    <td *ngIf="lang=='ar'">{{c.typeconge.libelleTypeAr}}</td>
    <td>{{c.nbJour}}</td>
    <td *ngIf="lang=='fr'">{{c.valide}}</td>
    <td *ngIf="lang=='ar'">{{c.valideAr}}</td>
    <td>{{RepriseResultat(c.reprise)}}{{CanReprise(c.valide)}}</td>
    <td align="center"><button mat-icon-button  [disabled]="c.reprise||canReprise" (click)="RepriseConge(c)"><mat-icon>alarm_on</mat-icon></button> </td>
   <td><button mat-icon-button color="primary" [disabled]="!c.reprise" (click)="ImprimerReprise(c)"><mat-icon>print</mat-icon></button></td>
  </tr> 
</tbody>
</table>
</div>
</mat-tab>
</mat-tab-group>
    </div>
  </div>
</div>
