<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Congés Enseignant</div>
    <div class="panel-body">
<h3>Historique:</h3>
<br>
<!--<table class="table table-striped">
  <tr>
    <th>Date Debut</th><th>Date Fin</th><th>Type Congé</th><th>Nombre Jours</th>
  </tr>
  <tr *ngFor="let c of conges">
    <td>{{c.dateDebut}}</td>
    <td>{{c.dateFin}}</td>
    <td>{{c.typeconge.libelle}} </td>
    <td>{{c.typeconge.nbMaxJrs}}</td>
    <td><a (click)="onEditConge(c.idCong)" class="clickable"><mat-icon>create</mat-icon></a> </td>
    <td><a (click)="onDeleteConge(c)" class="clickable"><mat-icon>delete_sweep</mat-icon></a> </td>
  </tr></table>-->
    </div>
  </div>
</div>
