<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-default">
    <div class="panel-heading">{{'SideBar.SMListeUt'| translate}}</div>
  <div class="panel-body">
<mat-tab-group class="demo-tab-group">
 <mat-tab  label='Utilisateurs'>
    <br>
  <div class="demo-tab-content">
  <table class="table table-hover" cellspacing="0">
   <thead>
  <tr>
  <th>{{'Table.CID'| translate}}</th><th>{{'Table.CMatricule'| translate}}</th><th>{{'Table.CPrenom'| translate}}&{{'Table.CNom'| translate}}</th><th>{{'Table.CLogin'| translate}}</th><th>{{'Table.CMotPass'| translate}}</th><th>{{'Table.CModifier'| translate}}</th><th>{{'Table.CSupprimer'| translate}}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let p of pageUsers?.content">
    <td>{{p.idPers}}</td>
    <td>{{p.matricule}}</td>
    <td *ngIf="lang=='fr'">{{p.prenom+" "+p.nom }}</td>
    <td *ngIf="lang=='ar'">{{p.prenomAr+" "+p.nomAr }}</td>
    <td>{{p.login}}</td>
    <td>{{p.motpasse}}</td>
    <td><a (click)="onEditUser(p.idPers)" class="clickable"><mat-icon >create</mat-icon></a> </td>
    <td><a (click)="onDeleteUser(p)" class="clickable"><mat-icon>delete</mat-icon></a> </td>
  </tr>
</tbody>
</table>
</div>
</mat-tab>
</mat-tab-group>
    </div>
  </div>
</div>
