<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des utilisateurs</div>
  <div class="panel-body">
    <mat-form-field>
      <input matInput placeholder="Login"  [(ngModel)]="motCle">
    </mat-form-field>
    <button mat-icon-button (click)="chercherLogin()">
      <mat-icon >search</mat-icon>
      </button>
<table class="table table-striped">
  <tr>
    <th>Login</th><th>Mot de Passe</th><th>Date de Creation</th><th>Personnel</th><th>Modifier</th><th>Supprimer</th>
  </tr>
  <tr *ngFor="let u of pageUsers?.content">
    <td>{{u.login}}</td>
    <td>{{u.motpasse}}</td>
    <td>{{u.datecreation}}</td>
    <td>{{u.personnel.prenom+" "+u.personnel.nom }}</td>
    <td><a (click)="onEditUser(u.login)" class="clickable"><mat-icon >create</mat-icon></a> </td>
    <td><a (click)="onDeleteUser(u)" class="clickable"><mat-icon >delete</mat-icon></a> </td>
  </tr>

</table>
    <div class="container">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active' :i==currentPage}" *ngFor="let p of pages; let i=index">
          <a class="clickable" (click)="gotopage(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
