<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Modifier Departement</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="departement.idDep">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Departement" [(ngModel)]="departement.nomDep">
      </mat-form-field>
          <button mat-icon-button color="primary" (click)="updateDepartement()"><mat-icon>border_color</mat-icon></button>
        </div>
    </div>
  </div>
</div>
