<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModDep' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="departement.idDep" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Departement" [(ngModel)]="departement.nomDep">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="القسم" [(ngModel)]="departement.nomDepAr">
        </mat-form-field>
          <button mat-mini-fab color="primary" (click)="updateDepartement()"><mat-icon>create</mat-icon></button>
        </div>
    </div>
  </div>
</div>
