<div class="panel panel-primary">
  <div class="panel-heading">Modifier Departement</div>
  <div class="panel-body">
    <div>
      <form class="form-inline">
        <div class="form-group">
          <label class="control-label"> ID:</label>
          <input id="msg" type="text" class="form-control" name="msg" placeholder="ID de Departement" [(ngModel)]="departement.idDep">
        </div>
        <div class="form-group">
          <label class="control-label">Nom de Departement :</label>
          <input id="msg1" type="text" class="form-control" name="msg1" placeholder="Nom de Departement" [(ngModel)]="departement.nomDep">
          <button type="button" class="btn btn-primary btn-md" (click)="updateDepartement()">Modifier Departement</button>
        </div>
      </form>
    </div>
  </div>
