.buttonColor
{
/*background:rgba(19, 166, 185, 0.658)*/
background:#4aba70;
}
#ajout
{
  float: right;
}
.buttonDanger
{
/*background:rgba(19, 166, 185, 0.658)*/
background:#ce0202;
}
.lineModalLabel
{
    background: #edf1ee
}