<h3>Reprise de congé de  {{conge.personnel.prenom+"  "+conge.personnel.nom}}</h3>
<div>
<form #formCong>
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de Reprise" name="DateReprise" [(ngModel)]="conge.dateReprise">
    <mat-datepicker-toggle matSuffix [for]="picker" name="DateReprise" [(ngModel)]="conge.dateReprise"></mat-datepicker-toggle>
    <mat-datepicker #picker [(ngModel)]="conge.dateReprise" name="DateReprise"></mat-datepicker>
  </mat-form-field> -->
  <mat-slide-toggle>Reprise</mat-slide-toggle>
  <button mat-mini-fab color="black" (click)="ModifierConge()"><mat-icon>edit</mat-icon></button>
</form>
</div>
