<app-index></app-index>
<div class="container spacer">
 <div class="panel panel-primary">
  <div class="panel-heading">Congés Personnel</div>
  <div class="panel-body">
    <button mat-button color="primary" (click)="chercherEnseignant()">Enseignant</button>
    <button mat-button color="primary" (click)="chercherAdministratif()">Administatif</button>
    <br>
    <br>
    <div *ngIf="type!=''">
       <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="motCle">
       </mat-form-field>
       <button mat-icon-button (click)="doSearch()">
        <mat-icon>search</mat-icon>
       </button>
       <mat-form-field>
          <input matInput placeholder="Prenom" [(ngModel)]="motCle1">
        </mat-form-field>
        <button mat-icon-button (click)="doSearch1()">
          <mat-icon>search</mat-icon>
        </button>
       </div>
       <div *ngIf="type!=''">
       <table class="table table-striped">
        <tr>
          <th>Matricule</th><th>CIN</th><th>Nom</th><th>Prenom</th><th>Telephone</th><th>congé</th>
        </tr>
        <tr *ngFor="let e of pagePersonnels?.content">
          <td>{{e.matricule}}</td>
          <td>{{e.cin}}</td>
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.telephone}}</td>
          <td><button mat-icon-button (click)="ajouterConge(e)"><mat-icon>today</mat-icon></button> </td>
        </tr>
       </table>
       </div>
       <div class="container">
          <ul class="nav nav-pills">
            <li [ngClass]="{'active' :i==currentPage}" *ngFor="let p of pages; let i=index">
              <a class="clickable" (click)="gotopage(i)">{{i}}</a>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>