<h3>Modifier Grade {{periode.personnel.prenom+" "+periode.personnel.nom}}</h3>
  <mat-form-field>
  <mat-select placeholder="Poste Administratif" [(value)]="posteAdmin">
    <mat-option *ngFor="let p of postes" [value]="p">
      {{ p.libellePos}}
    </mat-option>
  </mat-select>
      </mat-form-field>
    <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Date de Debut" [(ngModel)]="periode.dateDebut">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Date de Fin" [(ngModel)]="periode.dateFin">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
    <button mat-mini-fab color="" (click)="ModifierPoste()"><mat-icon>edit</mat-icon></button>
