*{color: rgba(1, 2, 13, 0.99);}
.form-container {border:0px solid #fff; padding: 50px 60px;margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);}
h1{
  margin:0;
  padding:0 0 20px;
  text-align: center;
  color: #fff;
}
