<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModAdmin'| translate }}</div>
  <div class="panel-body">
<mat-accordion>
  <form #fe>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{'Table.CAjouterEnseig' | translate}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field matTooltip="Max 12 chiffre" matTooltipPosition="above">
        <input matInput type="text" name="matricule" #input maxlength="12" placeholder="Matricule" [(ngModel)]="administratif.matricule" required>
        <mat-hint align="end">{{input.value?.length||0}}/12</mat-hint>
      </mat-form-field>
      <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
        <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="CIN"  [(ngModel)]="administratif.cin" required>
        <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom" type="text" name="nom"  [(ngModel)]="administratif.nom" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="administratif.prenom" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom de Pére" type="text" name="nompere" [(ngModel)]="administratif.nompere" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" name="datenais" [(ngModel)]="administratif.datenaissance" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lieu de Naissance" type="text" name="lieu" [(ngModel)]="administratif.lieuNaissance">
      </mat-form-field>
      <mat-radio-group [(ngModel)]="administratif.sexe" name="sexe">
        <mat-radio-button value="Femme">Femme</mat-radio-button>
        <mat-radio-button value="Homme">Homme</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="administratif.telephone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="administratif.email" required>
        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Adresse" type="text" name="adresse" [(ngModel)]="administratif.adresse" required></textarea>
      </mat-form-field>
      <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
        <input matInput #input2 maxlength="4" placeholder="Code Postal" type="text" name="code" [(ngModel)]="administratif.codepostal">
        <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 20 caractére">
        <input matInput #input3 maxlength="20" placeholder="RIB" type="text" name="rib" [(ngModel)]="administratif.rib" required>
        <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
      </mat-form-field><br>
      <mat-radio-group [(ngModel)]="administratif.etatCivil" name="etatcivil" #etatcivil>
          <mat-radio-button value="Célibataire">Célibataire</mat-radio-button>
          <mat-radio-button value="Marié(e)">Marié(e)</mat-radio-button>
          <mat-radio-button value="Divorcé(e)">Divorcé(e)</mat-radio-button>
          <mat-radio-button value="Veuf(ve)">Veuf(ve)</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="administratif.etatCivil=='Marié(e)'">
          <input matInput placeholder="Nom Conjoint" type="text" name="nomconj" [(ngModel)]="administratif.nomConjoint">
        </mat-form-field>
        <mat-form-field *ngIf="administratif.etatCivil=='Marié(e)'">
          <input matInput placeholder="Profession Conjoint" type="text" name="profConj" [(ngModel)]="administratif.profConjoint">
        </mat-form-field>
        <mat-form-field *ngIf="administratif.etatCivil=='Marié(e)'">
            <input matInput placeholder="Sociéte où travaille le Conjoint" type="text" name="societConj" [(ngModel)]="administratif.societConj">
            </mat-form-field>
      </mat-expansion-panel>
      <!--Formulaire Arabe-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CAjouterEnseigAr' | translate}} 
              </mat-panel-title>
              <mat-panel-description>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field matTooltip="Max 12 chiffre" matTooltipPosition="above">
              <input matInput type="text" name="matricule" #input maxlength="12" placeholder="المعرف الوحيد" [(ngModel)]="administratif.matricule" required>
              <mat-hint align="end">{{input.value?.length||0}}/12</mat-hint>
            </mat-form-field>
            <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
              <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="ب.ت.و."  [(ngModel)]="administratif.cin" required>
              <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="الإسم" type="text" name="prenomar" [(ngModel)]="administratif.prenomAr" required>
              </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="اللقب" type="text" name="nomar"  [(ngModel)]="administratif.nomAr" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="إسم الأب" type="text" name="nomperear" [(ngModel)]="administratif.nompereAr" required>
              </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="pickerNai" placeholder="تاريخ الولادة" name="datenais" [(ngModel)]="administratif.datenaissance" required>
              <mat-datepicker-toggle matSuffix [for]="pickerNai" startView="year" [startAt]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerNai></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="مكان الولادة" type="text" name="lieuar" [(ngModel)]="administratif.lieuNaissanceAr">
              </mat-form-field>
            <mat-radio-group [(ngModel)]="administratif.sexeAr" name="sexear">
              <mat-radio-button value="انثى">أنثى</mat-radio-button>
              <mat-radio-button value="ذكر">ذكر</mat-radio-button>
            </mat-radio-group>
             <mat-form-field>
              <input matInput placeholder="الهاتف" type="text" name="telephone" [(ngModel)]="administratif.telephone">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="البريد الإلكتروني" type="email" name="email" [(ngModel)]="administratif.email" required>
              <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="العنوان" type="text" name="adressear" [(ngModel)]="administratif.adresseAr" required></textarea>
              </mat-form-field>
            <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
              <input matInput #input2 maxlength="4" placeholder="الصندوق البريدي" type="text" name="code" [(ngModel)]="administratif.codepostal">
              <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
            </mat-form-field>
               <mat-form-field hintLabel="Max 20 caractére">
              <input matInput #input3 maxlength="20" placeholder="رقم الحساب الجاري" type="text" name="rib" [(ngModel)]="administratif.rib" required>
              <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
            </mat-form-field><br>
            <mat-radio-group [(ngModel)]="administratif.etatCivilAr" name="etatcivilar" #etatcivil>
              <mat-radio-button *ngIf="administratif.sexeAr==='ذكر' || administratif.sexeAr===''"value="أعزب">أعزب</mat-radio-button>
              <mat-radio-button *ngIf="administratif.sexeAr==='انثى'" value="عزباء">عزباء</mat-radio-button>
              <mat-radio-button value="(متزوج(ة">(متزوج(ة</mat-radio-button>
              <mat-radio-button value="(مطلق(ة">(مطلق(ة</mat-radio-button>
              <mat-radio-button value="(أرمل(ة">(أرمل(ة</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="administratif.etatCivilAr=='(متزوج(ة'">
              <input matInput placeholder="إسم القرين" type="text" name="nomconjar" [(ngModel)]="administratif.nomConjointAr">
            </mat-form-field>
            <mat-form-field *ngIf="administratif.etatCivilAr=='(متزوج(ة'">
            <input matInput placeholder="مهنة القرين" type="text" name="profConjar" [(ngModel)]="administratif.profConjointAr">
            </mat-form-field>
            <mat-form-field *ngIf="administratif.etatCivilAr=='(متزوج(ة'">
                <input matInput placeholder="مؤسسة عمل القرين" type="text" name="Societear" [(ngModel)]="administratif.societConjAr">
                </mat-form-field>
            </mat-expansion-panel>
        <!--end Formulaire Arabe-->
  
      <mat-expansion-panel *ngIf="administratif.etatCivil=='Marié(e)'||administratif.etatCivil=='Veuf(ve)'||administratif.etatCivil=='Divorcé(e)'||administratif.etatCivilAr=='(متزوج(ة'||administratif.etatCivilAr=='(مطلق(ة' ||administratif.etatCivilAr=='(أرمل(ة'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Table.CEnfants' | translate}}
          </mat-panel-title>
          <mat-panel-description *ngIf="lang=='fr'">
            {{administratif.prenom+"   "+administratif.nom}}
            </mat-panel-description>
            <mat-panel-description *ngIf="lang=='ar'">
              {{administratif.prenomAr+"   "+administratif.nomAr}}
              </mat-panel-description>
      </mat-expansion-panel-header>
      <form #enfant *ngFor="let enf of enfants; let i=index">
        <mat-form-field>
          <input matInput placeholder="Nom Enfant" type="text" name="nomenf" required [(ngModel)]="enf.nom" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="إسم الإبن" type="text" name="nomenf" required [(ngModel)]="e.nomAr">
          </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="En" placeholder="Date de Naissance" name="nomdate" required [(ngModel)]="enf.dateNais" disabled>
          <mat-datepicker-toggle matSuffix [for]="En"></mat-datepicker-toggle>
          <mat-datepicker #En></mat-datepicker>
        </mat-form-field>
        <button mat-mini-fab color="black" (click)="ModifierEnfants(enf)"><mat-icon>edit</mat-icon></button>
      </form>
      <form *ngFor="let e of newEnfants; let i=index">
        <mat-form-field>
          <input matInput placeholder="Nom Enfant" type="text" name="nomenf" required [(ngModel)]="e.nom" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="إسم الإبن" type="text" name="nomenf" required [(ngModel)]="e.nomAr">
          </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerEn" placeholder="Date de Naissance" name="datenf" [(ngModel)]="e.dateNais">
          <mat-datepicker-toggle matSuffix [for]="pickerEn"></mat-datepicker-toggle>
          <mat-datepicker #pickerEn></mat-datepicker>
        </mat-form-field>
      </form>
      <button mat-mini-fab color="primary" (click)="ajouterEnfants()"><mat-icon>add</mat-icon></button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <!-- Privileges -->
         {{'Table.CDonneesProf' | translate}}
        </mat-panel-title>
        <mat-panel-description *ngIf="lang=='fr'">
          {{administratif.prenom+"   "+administratif.nom}}
          </mat-panel-description>
          <mat-panel-description *ngIf="lang=='ar'">
            {{administratif.prenomAr+"   "+administratif.nomAr}}
            </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="service!=null && serviceModifiable==false">
          <mat-form-field>
              <input matInput placeholder="Service" type="text" name="servp" required [(ngModel)]="service.libelleServ" disabled>
            </mat-form-field>
              <mat-form-field>
              <input matInput placeholder="الصنف" type="text" name="servAr" required [(ngModel)]="service.libelleServAr" disabled>
            </mat-form-field>
            <button  mat-icon-button color="" (click)="ModifierService()"><mat-icon>create</mat-icon></button>
          </div>
      <div *ngIf="lang==='fr'">
          <mat-form-field *ngIf="service===null || serviceModifiable==true">
              <mat-select placeholder="Service" [(value)]="service">
                  <mat-option *ngFor="let s of services" [value]="s">
                    {{ s.libelleServ }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Taille" type="text" name="taille" [(ngModel)]="administratif.taille">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pointure" type="text" name="pointure" [(ngModel)]="administratif.pointure">
      </mat-form-field>
    </div>
    <div *ngIf="lang==='ar'">
        <mat-form-field *ngIf="service===null || serviceModifiable==true">
            <mat-select placeholder="الصنف" [(value)]="service">
              <mat-option *ngFor="let s of services" [value]="s">
                {{ s.libelleServAr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="مقاس اللباس" type="text" name="taille" [(ngModel)]="administratif.taille">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="مقاس الحذاء" type="text" name="pointure" [(ngModel)]="administratif.pointure">
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'SideBar.MGrade' | translate}}
          </mat-panel-title>
          <mat-panel-description *ngIf="lang=='fr'">
            {{administratif.prenom+"   "+administratif.nom}}
            </mat-panel-description>
            <mat-panel-description *ngIf="lang=='ar'">
              {{administratif.prenomAr+"   "+administratif.nomAr}}
              </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="AGrades!=null">
        <form *ngFor="let g of AGrades; let i=index">
            <mat-form-field *ngIf="g.grade!=null">
                <input matInput placeholder="Grade" type="text" name="grad" required [(ngModel)]="g.grade.titre" disabled>
              </mat-form-field>
              <mat-form-field *ngIf="g.grade!=null">
                <input matInput placeholder="الرتبة" type="text" name="gradar" required [(ngModel)]="g.grade.titreAr" disabled>
              </mat-form-field>
        <mat-form-field *ngIf="g.grade!=null">
          <input matInput [matDatepicker]="picker1" placeholder="Date de Grade/تاريخ الرتبة" name="dategrade" [(ngModel)]="g.dateEvaluation" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <button mat-mini-fab color="black" *ngIf="g.grade!=null" (click)="ModifierGrade(g)"><mat-icon>edit</mat-icon></button>
      </form>
    </div>
      <form *ngFor="let g of NewAGrades; let i=index">
          <mat-form-field>
            <mat-select placeholder="Grade/الرتبة" [(value)]="g.grade">
              <mat-option *ngFor="let grd of grades" [value]="grd">
                {{ grd.titre+"/"+grd.titreAr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Date de Grade" name="dategrade" [(ngModel)]="g.dateEvaluation">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </form>
        <button mat-mini-fab color="primary" (click)="ajouterGrade()"><mat-icon>add</mat-icon></button>
      </mat-expansion-panel>
       <!--Etat-->
       <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Table.CEtat' | translate}}
            </mat-panel-title>
            <mat-panel-description *ngIf="lang=='fr'">
              {{administratif.prenom+"   "+administratif.nom}}
              </mat-panel-description>
              <mat-panel-description *ngIf="lang=='ar'">
                {{administratif.prenomAr+"   "+administratif.nomAr}}
                </mat-panel-description>
          </mat-expansion-panel-header>
        <div *ngIf="etat!=null && etatModifiable==false">
          <mat-form-field>
              <input matInput placeholder="Etat" type="text" name="et" required [(ngModel)]="etat.libelleEtat" disabled>
            </mat-form-field>
              <mat-form-field>
              <input matInput placeholder="الحالة" type="text" name="etar" required [(ngModel)]="etat.libelleEtatAr" disabled>
            </mat-form-field>
            <button  mat-icon-button color="" (click)="ModifierEtat()"><mat-icon>create</mat-icon></button>
          </div>
        
        <mat-form-field *ngIf="etat===null || etatModifiable==true">
          <mat-select placeholder="Etat" [(value)]="etat" required name="etat">
            <mat-option *ngFor="let e of etats" [value]="e">
              {{ e.libelleEtat+"/"+e.libelleEtatAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="lang=='fr'">
              <mat-form-field *ngIf="etat.libelleEtat=='non-actif'">
                <input matInput placeholder="Raison" type="text" name="raison" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.etatInactive" required>
              </mat-form-field>
              <mat-form-field *ngIf="etat.libelleEtat=='détaché'">
                <input matInput placeholder="Lieu de Détatcement" type="text" name="lieu" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.lieuDetachement" required>
              </mat-form-field>
          </div>
            <div *ngIf="lang=='ar'">
              <mat-form-field *ngIf="etat.libelleEtatAr=='غير مباشر'">
                <input matInput placeholder="السبب" type="text" name="raisonAr" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.etatInactiveAr" required>
              </mat-form-field>
              <mat-form-field *ngIf="etat.libelleEtatAr=='ملحق'">
                <input matInput placeholder="مكان الإلحاق" type="text" name="lieuAr" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.lieuDetachementAr" required>
              </mat-form-field>
          </div>
        </mat-expansion-panel>
        <!--end Etat-->
    <button mat-raised-button color="primary" (click)="updateAdmin()">{{'Table.CModifier' | translate}}</button>
    <button mat-raised-button color="primary" (click)="fe.reset()">{{'Table.CAnnuler' | translate}}</button>
  </form>
</mat-accordion>
</div>
</div>
</div>
