  <h3>Modifier Diplôme de {{diplomep.personnel.prenom+" "+diplomep.personnel.nom}}</h3>
    <mat-form-field>
      <mat-select placeholder="Diplôme" [(value)]="diplome">
        <mat-option *ngFor="let dip of diplomes" [value]="dip">
          {{ dip.titreDip }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Date de Diplôme" [(ngModel)]="diplomep.date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-mini-fab color="black" (click)="Enregistrer()"><mat-icon>edit</mat-icon></button>