<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.SMEnseignantV1' | translate }}</div>
  <div class="panel-body">

    <div *ngIf="lang=='fr'">
    <mat-form-field>
        <mat-select placeholder="Type de l'enseignant" [(value)]="type"  required>
          <mat-option *ngFor="let t of TypeEnseignant" [value]="t.value">
            {{ t.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
    <div *ngIf="lang=='ar'">
        <mat-form-field>
            <mat-select placeholder="نوع الأستاذ" [(value)]="type"  required>
              <mat-option *ngFor="let t of TypeEnseignantAr" [value]="t.value">
                {{ t.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> 
 <mat-accordion>
<form #fe *ngIf="type=='Enseignant Libre'||type=='أستاذ حر'">
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
      {{'Table.CAjouterEnseig' | translate}}
  </mat-panel-title>
  <mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
  <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="CIN"  [(ngModel)]="enseignantLibre.cin" required>
  <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Nom" type="text" name="nom"  [(ngModel)]="enseignantLibre.nom" required>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="enseignantLibre.prenom" required>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Nom de Pére" type="text" name="nompere" [(ngModel)]="enseignantLibre.nompere" required>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" name="datenais" [(ngModel)]="enseignantLibre.datenaissance" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Lieu de Naissance" type="text" name="lieu" [(ngModel)]="enseignantLibre.lieuNaissance">
</mat-form-field><br>
<mat-radio-group [(ngModel)]="enseignantLibre.sexe" name="sexe">
  <mat-radio-button value="Femme">Femme</mat-radio-button>
  <mat-radio-button value="Homme">Homme</mat-radio-button>
</mat-radio-group><br>
 <mat-form-field>
  <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="enseignantLibre.telephone">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="enseignantLibre.email" required>
  <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
</mat-form-field>
<mat-form-field>
  <textarea matInput placeholder="Adresse" type="text" name="adresse" [(ngModel)]="enseignantLibre.adresse" required></textarea>
</mat-form-field>
<mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
  <input matInput #input2 maxlength="4" placeholder="Code Postal" type="text" name="code" [(ngModel)]="enseignantLibre.codepostal">
  <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
</mat-form-field>
   <mat-form-field hintLabel="Max 20 caractére">
  <input matInput #input3 maxlength="20" placeholder="RIB" type="text" name="rib" [(ngModel)]="enseignantLibre.rib" required>
  <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
</mat-form-field><br>
<mat-radio-group [(ngModel)]="enseignantLibre.etatCivil" name="etatcivil" #etatcivil>
  <mat-radio-button value="Célibataire">Célibataire</mat-radio-button>
  <mat-radio-button value="Marié(e)">Marié(e)</mat-radio-button>
  <mat-radio-button value="Divorcé(e)">Divorcé(e)</mat-radio-button>
</mat-radio-group>
</mat-expansion-panel>
<!--Formulaire Arabe-->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{'Table.CAjouterEnseigAr' | translate}}
      </mat-panel-title>
      <mat-panel-description>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
      <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="ب.ت.و."  [(ngModel)]="enseignantLibre.cin" required>
      <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="الإسم" type="text" name="prenomar" [(ngModel)]="enseignantLibre.prenomAr" required>
      </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="اللقب" type="text" name="nomar"  [(ngModel)]="enseignantLibre.nomAr" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="إسم الأب" type="text" name="nomperear" [(ngModel)]="enseignantLibre.nompereAr" required>
      </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerNai" placeholder="تاريخ الولادة" name="datenais" [(ngModel)]="enseignantLibre.datenaissance" required>
      <mat-datepicker-toggle matSuffix [for]="pickerNai" startView="year"></mat-datepicker-toggle>
      <mat-datepicker #pickerNai></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="مكان الولادة" type="text" name="lieuar" [(ngModel)]="enseignantLibre.lieuNaissanceAr">
      </mat-form-field>
    <mat-radio-group [(ngModel)]="enseignantLibre.sexeAr" name="sexear">
      <mat-radio-button value="انثى">أنثى</mat-radio-button>
      <mat-radio-button value="ذكر">ذكر</mat-radio-button>
    </mat-radio-group>
     <mat-form-field>
      <input matInput placeholder="الهاتف" type="text" name="telephone" [(ngModel)]="enseignantLibre.telephone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="البريد الإلكتروني" type="email" name="email" [(ngModel)]="enseignantLibre.email" required>
      <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="العنوان" type="text" name="adressear" [(ngModel)]="enseignantLibre.adresseAr" required></textarea>
      </mat-form-field>
    <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
      <input matInput #input2 maxlength="4" placeholder="الصندوق البريدي" type="text" name="code" [(ngModel)]="enseignantLibre.codepostal">
      <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
    </mat-form-field>
       <mat-form-field matTooltip="Max 20 caractére">
      <input matInput #input3 maxlength="20" placeholder="رقم الحساب الجاري" type="text" name="rib" [(ngModel)]="enseignantLibre.rib" required>
      <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
    </mat-form-field><br>
    <mat-radio-group [(ngModel)]="enseignantLibre.etatCivilAr" name="etatcivilar" #etatcivil>
      <mat-radio-button *ngIf="enseignantLibre.sexeAr==='ذكر' ||enseignantLibre.sexeAr===''"value="أعزب">أعزب</mat-radio-button>
      <mat-radio-button *ngIf="enseignantLibre.sexeAr==='انثى'"value="عزباء">عزباء</mat-radio-button>
      <mat-radio-button value="(متزوج(ة">(متزوج(ة</mat-radio-button>
      <mat-radio-button value="(مطلق(ة">(مطلق(ة</mat-radio-button>
    </mat-radio-group>
<!--        <mat-form-field *ngIf="enseignantFonct.etatCivilAr=='(متزوج(ة'">
      <input matInput placeholder="إسم القرين" type="text" name="nomconjar" [(ngModel)]="enseignantFonct.nomConjointAr">
    </mat-form-field>
    <mat-form-field *ngIf="enseignantFonct.etatCivilAr=='(متزوج(ة'">
    <input matInput placeholder="مهنة القرين" type="text" name="profConjar" [(ngModel)]="enseignantFonct.profConjointAr">
    </mat-form-field> -->
    </mat-expansion-panel>
<!--end formulaire arabe-->
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    {{'Table.CDonneesProf' | translate}}
  </mat-panel-title>
  <mat-panel-description *ngIf="lang=='fr'">
    {{enseignantLibre.prenom+"   "+enseignantLibre.nom}}
    </mat-panel-description>
    <mat-panel-description *ngIf="lang=='ar'">
      {{enseignantLibre.prenomAr+"   "+enseignantLibre.nomAr}}
      </mat-panel-description>
</mat-expansion-panel-header>
<mat-form-field *ngIf="lang=='fr'">
  <mat-select placeholder="Spécialité" [(value)]="specialite" required>
    <mat-option *ngFor="let s of specialites" [value]="s">
      {{ s.libelleSp }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="lang=='ar'">
  <mat-select placeholder="الإختصاص" [(value)]="specialite" required>
    <mat-option *ngFor="let s of specialites" [value]="s">
      {{ s.libelleSpAr }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="lang=='fr'">
  <mat-select placeholder="Departement" [(value)]="departement" required>
    <mat-option *ngFor="let d of departements" [value]="d">
      {{ d.nomDep }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="lang=='ar'">
  <mat-select placeholder="القسم" [(value)]="departement" required>
    <mat-option *ngFor="let d of departements" [value]="d">
      {{ d.nomDepAr }}
    </mat-option>
  </mat-select>
</mat-form-field><br>
    <label>{{'Table.CDeclarationHon' | translate}}</label>
    <input type="file" name="declaration" (change)="onFileSelected($event)"><br><br>
</mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'SideBar.SMDiplomes' | translate}}
        </mat-panel-title>
        <mat-panel-description *ngIf="lang=='fr'">
          {{enseignantLibre.prenom+"   "+enseignantLibre.nom}}
          </mat-panel-description>
          <mat-panel-description *ngIf="lang=='ar'">
            {{enseignantLibre.prenomAr+"   "+enseignantLibre.nomAr}}
            </mat-panel-description>
      </mat-expansion-panel-header>
      <form *ngFor="let d of diplomepers; let i=index">
        <mat-form-field *ngIf="lang=='fr'">
          <mat-select placeholder="Diplôme" [(value)]="d.diplome">
            <mat-option *ngFor="let dip of diplomes" [value]="dip">
              {{ dip.titreDip }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="lang=='ar'">
            <mat-select placeholder="الشهادة" [(value)]="d.diplome">
              <mat-option *ngFor="let dip of diplomes" [value]="dip">
                {{ dip.titreDipAr }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field *ngIf="lang=='fr'">
          <input matInput [matDatepicker]="dip" placeholder="Date de Diplôme" name="datedip" [(ngModel)]="d.date">
          <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
          <mat-datepicker #dip></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="lang=='ar'">
          <input matInput [matDatepicker]="dip" placeholder="تاريخ الشهادة" name="datedip" [(ngModel)]="d.date">
          <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
          <mat-datepicker #dip></mat-datepicker>
        </mat-form-field>
     </form>
      <button mat-mini-fab color="primary" (click)="ajouterDiplome()"><mat-icon>add</mat-icon></button>
    </mat-expansion-panel>
           <!--Etat-->
           <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CEtat' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantLibre.prenom+"   "+enseignantLibre.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantLibre.prenomAr+"   "+enseignantLibre.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
          <div *ngIf="lang=='fr'">    
          <mat-form-field>
            <mat-select placeholder="Etat" [(value)]="etat" required name="etat">
              <mat-option *ngFor="let e of etats" [value]="e">
                {{ e.libelleEtat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div *ngIf="lang=='ar'">    
            <mat-form-field>
              <mat-select placeholder="الحالة" [(value)]="etat" required name="etat">
                <mat-option *ngFor="let e of etats" [value]="e">
                  {{ e.libelleEtatAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!--end Etat-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CChargeSem' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantLibre.prenom+"   "+enseignantLibre.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantLibre.prenomAr+"   "+enseignantLibre.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header> 
          <mat-form-field *ngIf="lang=='fr' && !ajoutAnnee">
            <mat-select placeholder="Année Universitaire" [(value)]="anneeUniv" required name="anne">
              <mat-option *ngFor="let a of anneeUnivs" [value]="a">
                {{ a.anneeDebut+" / "+a.anneeFin}}
              </mat-option>
            </mat-select>
          </mat-form-field>   
            <mat-form-field *ngIf="lang=='ar' && !ajoutAnnee">
              <mat-select placeholder="العام الدراسي" [(value)]="anneeUniv" required name="anne">
                <mat-option *ngFor="let a of anneeUnivs" [value]="a">
                  {{ a.anneeDebut+" / "+a.anneeFin}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="ajoutAnnee && lang=='fr'">
              <mat-form-field>
                <input matInput placeholder="Année de Début" type="number" name="annedebut" [(ngModel)]="anneeUniv.anneeDebut" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Année de Fin" type="number" name="annefin" [(ngModel)]="anneeUniv.anneeFin" required>
              </mat-form-field>
            </div>
            <div *ngIf="ajoutAnnee && lang=='ar'">
              <mat-form-field>
                <input matInput placeholder="بداية السنة الدراسية" type="number" name="annedebut" [(ngModel)]="anneeUniv.anneeDebut" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="نهاية السنة الدراسية" type="number" name="annefin" [(ngModel)]="anneeUniv.anneeFin" required>
              </mat-form-field>
            </div>
            <mat-form-field *ngIf="lang=='fr'">
              <mat-select placeholder="Semestre" [(value)]="semestre" required name="sem">
                <mat-option *ngFor="let s of semestres" [value]="s">
                  {{ s.descriptionSem}}
                </mat-option>
              </mat-select>
            </mat-form-field>   
              <mat-form-field *ngIf="lang=='ar'">
                <mat-select placeholder="السداسي" [(value)]="semestre" required name="sem">
                  <mat-option *ngFor="let s of semestres" [value]="s">
                    {{ s.descriptionSemAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="primary" *ngIf="!ajoutAnnee" (click)="AjouterAnnee()"><mat-icon>add</mat-icon></button>
              <br>
              <div *ngIf="lang=='fr'">
            <mat-form-field>
              <input matInput placeholder="Heure de Cours" type="number" name="Hcour" [(ngModel)]="chargeSem.nbrHeuresCR" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Heure de TD" type="number" name="HTD" [(ngModel)]="chargeSem.nbrHeuresTD" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Heure de TP" type="number" name="HTP" [(ngModel)]="chargeSem.nbrHeuresTP" required>
            </mat-form-field>
          </div>
          <div *ngIf="lang=='ar'">
            <mat-form-field>
              <input matInput placeholder="ساعات الدرس" type="number" name="Hcour" [(ngModel)]="chargeSem.nbrHeuresCR" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="TD ساعات" type="number" name="HTD" [(ngModel)]="chargeSem.nbrHeuresTD" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="TP ساعات" type="number" name="HTP" [(ngModel)]="chargeSem.nbrHeuresTP" required>
            </mat-form-field>
          </div>
          </mat-expansion-panel>
          <!--end Etat-->
  <button mat-raised-button color="primary" (click)="Enregistrer()">{{'Table.CAjouterBot' | translate}}</button>
  <button mat-raised-button color="primary" (click)="fe.reset()">{{'Table.CAnnuler' | translate}}</button>
  </form>

  <!--Ajouter Enseignant Fonctionnaire de l'etat -->
  <form #fenF *ngIf="type=='Enseignant Fonctionnaire'||type=='أستاذ لدى الدولة'">
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Table.CAjouterEnseig' | translate}}
        </mat-panel-title>
        <mat-panel-description>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
        <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="CIN"  [(ngModel)]="enseignantFonct.cin" required>
        <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom" type="text" name="nom"  [(ngModel)]="enseignantFonct.nom" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="enseignantFonct.prenom" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom de Pére" type="text" name="nompere" [(ngModel)]="enseignantFonct.nompere" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" name="datenais" [(ngModel)]="enseignantFonct.datenaissance" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lieu de Naissance" type="text" name="lieu" [(ngModel)]="enseignantFonct.lieuNaissance">
      </mat-form-field><br>
      <mat-radio-group [(ngModel)]="enseignantFonct.sexe" name="sexe">
        <mat-radio-button value="Femme">Femme</mat-radio-button>
        <mat-radio-button value="Homme">Homme</mat-radio-button>
      </mat-radio-group><br>
       <mat-form-field>
        <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="enseignantFonct.telephone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="enseignantFonct.email" required>
        <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Adresse" type="text" name="adresse" [(ngModel)]="enseignantFonct.adresse" required></textarea>
      </mat-form-field>
      <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
        <input matInput #input2 maxlength="4" placeholder="Code Postal" type="text" name="code" [(ngModel)]="enseignantFonct.codepostal">
        <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
      </mat-form-field>
         <mat-form-field hintLabel="Max 20 caractére">
        <input matInput #input3 maxlength="20" placeholder="RIB" type="text" name="rib" [(ngModel)]="enseignantFonct.rib" required>
        <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
      </mat-form-field><br>
      <mat-radio-group [(ngModel)]="enseignantFonct.etatCivil" name="etatcivil" #etatcivil>
        <mat-radio-button value="Célibataire">Célibataire</mat-radio-button>
        <mat-radio-button value="Marié(e)">Marié(e)</mat-radio-button>
        <mat-radio-button value="Divorcé(e)">Divorcé(e)</mat-radio-button>
      </mat-radio-group>
      </mat-expansion-panel>
      <!--Formulaire Arabe-->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{'Table.CAjouterEnseigAr' | translate}}
            </mat-panel-title>
            <mat-panel-description>
          </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
            <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="ب.ت.و."  [(ngModel)]="enseignantFonct.cin" required>
            <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="الإسم" type="text" name="prenomar" [(ngModel)]="enseignantFonct.prenomAr" required>
            </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="اللقب" type="text" name="nomar"  [(ngModel)]="enseignantFonct.nomAr" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="إسم الأب" type="text" name="nomperear" [(ngModel)]="enseignantFonct.nompereAr" required>
            </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerNai" placeholder="تاريخ الولادة" name="datenais" [(ngModel)]="enseignantFonct.datenaissance" required>
            <mat-datepicker-toggle matSuffix [for]="pickerNai" startView="year"></mat-datepicker-toggle>
            <mat-datepicker #pickerNai></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="مكان الولادة" type="text" name="lieuar" [(ngModel)]="enseignantFonct.lieuNaissanceAr">
            </mat-form-field>
          <mat-radio-group [(ngModel)]="enseignantFonct.sexeAr" name="sexear">
            <mat-radio-button value="انثى">أنثى</mat-radio-button>
            <mat-radio-button value="ذكر">ذكر</mat-radio-button>
          </mat-radio-group>
           <mat-form-field>
            <input matInput placeholder="الهاتف" type="text" name="telephone" [(ngModel)]="enseignantFonct.telephone">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="البريد الإلكتروني" type="email" name="email" [(ngModel)]="enseignantFonct.email" required>
            <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
          </mat-form-field>
          <mat-form-field>
              <textarea matInput placeholder="العنوان" type="text" name="adressear" [(ngModel)]="enseignantFonct.adresseAr" required></textarea>
            </mat-form-field>
          <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
            <input matInput #input2 maxlength="4" placeholder="الصندوق البريدي" type="text" name="code" [(ngModel)]="enseignantFonct.codepostal">
            <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
          </mat-form-field>
             <mat-form-field matTooltip="Max 20 caractére" matTooltipPosition="above">
            <input matInput #input3 maxlength="20" placeholder="رقم الحساب الجاري" type="text" name="rib" [(ngModel)]="enseignantFonct.rib" required>
            <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
          </mat-form-field><br>
          <mat-radio-group [(ngModel)]="enseignantFonct.etatCivilAr" name="etatcivilar" #etatcivil>
            <mat-radio-button *ngIf="enseignantFonct.sexeAr==='ذكر' ||enseignantLibre.sexeAr===''"value="أعزب">أعزب</mat-radio-button>
            <mat-radio-button *ngIf="enseignantFonct.sexeAr==='انثى'"value="عزباء">عزباء</mat-radio-button>
            <mat-radio-button value="(متزوج(ة">(متزوج(ة</mat-radio-button>
            <mat-radio-button value="(مطلق(ة">(مطلق(ة</mat-radio-button>
          </mat-radio-group>
   <!--        <mat-form-field *ngIf="enseignantFonct.etatCivilAr=='(متزوج(ة'">
            <input matInput placeholder="إسم القرين" type="text" name="nomconjar" [(ngModel)]="enseignantFonct.nomConjointAr">
          </mat-form-field>
          <mat-form-field *ngIf="enseignantFonct.etatCivilAr=='(متزوج(ة'">
          <input matInput placeholder="مهنة القرين" type="text" name="profConjar" [(ngModel)]="enseignantFonct.profConjointAr">
          </mat-form-field> -->
          </mat-expansion-panel>
      <!--end formulaire arabe-->
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Table.CDonneesProf' | translate}}
        </mat-panel-title>
        <mat-panel-description *ngIf="lang=='fr'">
          {{enseignantFonct.prenom+"   "+enseignantFonct.nom}}
          </mat-panel-description>
          <mat-panel-description *ngIf="lang=='ar'">
            {{enseignantFonct.prenomAr+"   "+enseignantFonct.nomAr}}
            </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field *ngIf="lang=='fr'">
        <mat-select placeholder="Spécialité" [(value)]="specialite" required>
          <mat-option *ngFor="let s of specialites" [value]="s">
            {{ s.libelleSp }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="lang=='ar'">
        <mat-select placeholder="الإختصاص" [(value)]="specialite" required>
          <mat-option *ngFor="let s of specialites" [value]="s">
            {{ s.libelleSpAr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="lang=='fr'">
        <mat-select placeholder="Departement" [(value)]="departement" required>
          <mat-option *ngFor="let d of departements" [value]="d">
            {{ d.nomDep }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="lang=='ar'">
        <mat-select placeholder="القسم" [(value)]="departement" required>
          <mat-option *ngFor="let d of departements" [value]="d">
            {{ d.nomDepAr }}
          </mat-option>
        </mat-select>
      </mat-form-field>
          <mat-form-field *ngIf="lang=='fr'">
          <input matInput #input3 type="number" placeholder="Nomber Max d'heures" name="maxheure" [(ngModel)]="enseignantFonct.nbreMaxHeures" required>
          </mat-form-field>
          <mat-form-field *ngIf="lang=='ar'">
            <input matInput #input3 type="number" placeholder="العدد الأقصى للساعات" name="maxheure" [(ngModel)]="enseignantFonct.nbreMaxHeures" required>
            </mat-form-field><br>  
              <label>{{'Table.CimportationAuto' | translate}}</label>
              <input type="file" name="declaration" (change)="onFileSelected($event)">
      </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'SideBar.SMDiplomes' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantFonct.prenom+"   "+enseignantFonct.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantFonct.prenomAr+"   "+enseignantFonct.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <form *ngFor="let d of diplomepers; let i=index">
            <mat-form-field *ngIf="lang=='fr'">
              <mat-select placeholder="Diplôme" [(value)]="d.diplome">
                <mat-option *ngFor="let dip of diplomes" [value]="dip">
                  {{ dip.titreDip }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="lang=='ar'">
                <mat-select placeholder="الشهادة" [(value)]="d.diplome">
                  <mat-option *ngFor="let dip of diplomes" [value]="dip">
                    {{ dip.titreDipAr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field *ngIf="lang=='fr'">
              <input matInput [matDatepicker]="dip" placeholder="Date de Diplôme" name="datedip" [(ngModel)]="d.date">
              <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
              <mat-datepicker #dip></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="lang=='ar'">
              <input matInput [matDatepicker]="dip" placeholder="تاريخ الشهادة" name="datedip" [(ngModel)]="d.date">
              <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
              <mat-datepicker #dip></mat-datepicker>
            </mat-form-field>
           </form>
            <button mat-mini-fab color="primary" (click)="ajouterDiplome()"><mat-icon>add</mat-icon></button>
          </mat-expansion-panel>
            <!--Etat-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'Table.CEtat' | translate}}
                </mat-panel-title>
                <mat-panel-description *ngIf="lang=='fr'">
                  {{enseignantFonct.prenom+"   "+enseignantFonct.nom}}
                  </mat-panel-description>
                  <mat-panel-description *ngIf="lang=='ar'">
                    {{enseignantFonct.prenomAr+"   "+enseignantFonct.nomAr}}
                    </mat-panel-description>
              </mat-expansion-panel-header>
            <div *ngIf="lang=='fr'">    
            <mat-form-field>
              <mat-select placeholder="Etat" [(value)]="etat" required name="etat">
                <mat-option *ngFor="let e of etats" [value]="e">
                  {{ e.libelleEtat}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div *ngIf="lang=='ar'">    
              <mat-form-field>
                <mat-select placeholder="الحالة" [(value)]="etat" required name="etat">
                  <mat-option *ngFor="let e of etats" [value]="e">
                    {{ e.libelleEtatAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </mat-expansion-panel>
            <!--end Etat-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'Table.CChargeSem' | translate}}
                </mat-panel-title>
                <mat-panel-description *ngIf="lang=='fr'">
                  {{enseignantLibre.prenom+"   "+enseignantLibre.nom}}
                  </mat-panel-description>
                  <mat-panel-description *ngIf="lang=='ar'">
                    {{enseignantLibre.prenomAr+"   "+enseignantLibre.nomAr}}
                    </mat-panel-description>
              </mat-expansion-panel-header> 
            <mat-form-field *ngIf="lang=='fr' && !ajoutAnnee">
              <mat-select placeholder="Année Universitaire" [(value)]="anneeUniv" required name="anne">
                <mat-option *ngFor="let a of anneeUnivs" [value]="a">
                  {{ a.anneeDebut+" / "+a.anneeFin}}
                </mat-option>
              </mat-select>
            </mat-form-field>   
              <mat-form-field *ngIf="lang=='ar' && !ajoutAnnee">
                <mat-select placeholder="العام الدراسي" [(value)]="anneeUniv" required name="anne">
                  <mat-option *ngFor="let a of anneeUnivs" [value]="a">
                    {{ a.anneeDebut+" / "+a.anneeFin}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="ajoutAnnee && lang=='fr'">
                <mat-form-field>
                  <input matInput placeholder="Année de Début" type="number" name="annedebut" [(ngModel)]="anneeUniv.anneeDebut" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Année de Fin" type="number" name="annefin" [(ngModel)]="anneeUniv.anneeFin" required>
                </mat-form-field>
              </div>
              <div *ngIf="ajoutAnnee && lang=='ar'">
                <mat-form-field>
                  <input matInput placeholder="بداية السنة الدراسية" type="number" name="annedebut" [(ngModel)]="anneeUniv.anneeDebut" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="نهاية السنة الدراسية" type="number" name="annefin" [(ngModel)]="anneeUniv.anneeFin" required>
                </mat-form-field>
              </div>
              <mat-form-field *ngIf="lang=='fr'">
                <mat-select placeholder="Semestre" [(value)]="semestre" required name="sem">
                  <mat-option *ngFor="let s of semestres" [value]="s">
                    {{ s.descriptionSem}}
                  </mat-option>
                </mat-select>
              </mat-form-field>   
                <mat-form-field *ngIf="lang=='ar'">
                  <mat-select placeholder="السداسي" [(value)]="semestre" required name="sem">
                    <mat-option *ngFor="let s of semestres" [value]="s">
                      {{ s.descriptionSemAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-mini-fab color="primary" *ngIf="!ajoutAnnee" (click)="AjouterAnnee()"><mat-icon>add</mat-icon></button>
                <br>
                <div *ngIf="lang=='fr'">
              <mat-form-field>
                <input matInput placeholder="Heure de Cours" type="number" name="Hcour" [(ngModel)]="chargeSem.nbrHeuresCR" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Heure de TD" type="number" name="HTD" [(ngModel)]="chargeSem.nbrHeuresTD" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Heure de TP" type="number" name="HTP" [(ngModel)]="chargeSem.nbrHeuresTP" required>
              </mat-form-field>
            </div>
            <div *ngIf="lang=='ar'">
              <mat-form-field>
                <input matInput placeholder="ساعات الدرس" type="number" name="Hcour" [(ngModel)]="chargeSem.nbrHeuresCR" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="TD ساعات" type="number" name="HTD" [(ngModel)]="chargeSem.nbrHeuresTD" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="TP ساعات" type="number" name="HTP" [(ngModel)]="chargeSem.nbrHeuresTP" required>
              </mat-form-field>
            </div>
            </mat-expansion-panel>
        <button mat-raised-button color="primary" (click)="EnregistrerFonct()">{{'Table.CAjouterBot' | translate}}</button>
        <button mat-raised-button color="primary" (click)="fenF.reset()">{{'Table.CAnnuler' | translate}}</button>
        </form>
        <!--end of ajouter enseignant fonctionnaire de l'etat-->
  </mat-accordion>
</div>
</div>
</div>
