<app-index></app-index>
<div class="container spacer">
<div class="panel panel-default">
  <div class="panel-heading">{{'SideBar.SMPersonnel'| translate}}</div>
  <div class="panel-body">
  <mat-tab-group class="demo-tab-group">
  <mat-tab label="Administratif">
<div class="demo-tab-content">
  <br>
<table class="table table-hover" cellspacing="0">
    <thead>
<tr>
  <th>{{'Table.CID'| translate}}</th><th>{{'Table.CMatricule'| translate}}</th><th>{{'Table.CCIN'| translate}}</th><th>{{'Table.CPrenom'| translate}}&{{'Table.CNom'| translate}}</th><th>{{'Table.CDateNais'| translate}}</th><th>{{'Table.CEtat'| translate}}</th><th>{{'SideBar.MService' | translate}}</th><th>{{'Table.CModifier'| translate}}</th><th>{{'Table.CDetails'| translate}}</th><th>{{'Table.CAttestationT'| translate}}</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let e of pageAdministratif?.content">
  <td>{{e.idPers}}</td>
  <td>{{e.matricule}}</td>
  <td>{{e.cin}}</td>
  <td *ngIf="lang=='fr'">{{e.prenom}} {{e.nom}}</td>
  <td *ngIf="lang=='ar'">{{e.prenomAr}} {{e.nomAr}}</td>
  <td>{{e.datenaissance}}</td>
  <td *ngIf="e.etat!=null  && lang=='fr'">{{e.etat.libelleEtat}}</td>
  <td *ngIf="e.etat!=null  && lang=='ar'">{{e.etat.libelleEtatAr}}</td>
  <td *ngIf="e.etat==null">{{e.etat}}</td>
  <td *ngIf="e.service!=null && lang=='fr'">{{e.service.libelleServ}}</td>
  <td *ngIf="e.service!=null && lang=='ar'">{{e.service.libelleServAr}}</td>
  <td *ngIf="e.service==null">{{e.service}}</td>
  <td><a (click)="onEditAdministratif(e.idPers)" class="clickable"><mat-icon>create</mat-icon></a> </td>
  <td><a (click)="onDetailsAdministratif(e.idPers)" class="clickable"><mat-icon >list_alt</mat-icon></a> </td>
  <td><a (click)="Imprimer(e.idPers,e.sexe)" class="clickable"><mat-icon>print</mat-icon></a> </td>
</tr>
</tbody>
</table>
</div>  
</mat-tab>
</mat-tab-group>
</div>
</div>
</div>