<div class="panel panel-primary">
  <div class="panel-heading">Modifier Type Congé</div>
  <div class="panel-body">
    <div>
      <form class="form-inline">
        <div class="form-group">
          <label class="control-label"> ID:</label>
          <input id="msg" type="text" class="form-control" name="msg" placeholder="ID de type congé" [(ngModel)]="typeConge.idCg">
        </div>
        <div class="form-group">
          <label class="control-label"> Titre :</label>
          <input id="msg1" type="text" class="form-control" name="msg1" placeholder="titre de type congé" [(ngModel)]="typeConge.nomCng">
        </div>
        <div class="form-group">
          <label class="control-label"> Description:</label>
          <input id="msg2" type="text" class="form-control" name="msg2" placeholder="Description" [(ngModel)]="typeConge.description">
        </div>
        <div class="form-group">
          <label class="control-label"> Nombre de jours :</label>
          <input id="msg3" type="text" class="form-control" name="msg3" placeholder="Description" [(ngModel)]="typeConge.nbMaxJrs">
          <button type="button" class="btn btn-primary btn-md" (click)="updateTypeConge()">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>

