<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Modifier Type Congé</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="typeConge.idCg">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="typeConge.libelle">
      </mat-form-field><br>
      <mat-form-field>
        <textarea matInput placeholder="Description"  [(ngModel)]="typeConge.description"></textarea>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Nombre de jours" [(ngModel)]="typeConge.nbMaxJrs">
      </mat-form-field>
          <button mat-icon-button color="primary" (click)="updateTypeConge()"><mat-icon>border_color</mat-icon></button>
        </div>
    </div>
  </div>
</div>

