<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-heading">{{'SideBar.ModServ' | translate}}</div>
    <div class="panel-body">
      <div>
       <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="service.idServ" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Libellé" [(ngModel)]="service.libelleServ">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="الصنف" [(ngModel)]="service.libelleServAr">
          </mat-form-field>
        <button  mat-mini-fab color="primary" (click)="update()">
            <mat-icon>create</mat-icon></button>
      </div>
    </div>
    </div>
    </div>
