<app-index></app-index>
<div class="container spacer">
<div class="panel panel-default">
  <div class="panel-heading">{{'SideBar.MTypeC' | translate}}</div>
  <div class="panel-body">
    <div>
    <mat-form-field>
      <input matInput placeholder="Libellé" [(ngModel)]="typeConge.libelleType" name="typecongefr">
    </mat-form-field> <br>
    <mat-form-field>
        <input matInput placeholder="نوع العطلة" [(ngModel)]="typeConge.libelleTypeAr" name="typecongear">
      </mat-form-field><br>
    <mat-form-field> 
      <input matInput placeholder="Nombre de jours/عدد الأيام" [(ngModel)]="typeConge.nbMaxJrs" name="nbJourfr">
    </mat-form-field> <br>
    <mat-radio-group [(ngModel)]="typeConge.autorisation" name="autorisation">
        <mat-label>Autoriser/الترخيص</mat-label>
      <mat-radio-button [value]="true">Oui/نعم</mat-radio-button>
      <mat-radio-button [value]="false">Non/لا</mat-radio-button>
    </mat-radio-group><br>
    <button  mat-mini-fab color="primary" (click)="ajouter()"><mat-icon>add</mat-icon></button>
    <br>
    <hr>
    <mat-tab-group class="demo-tab-group">
        <mat-tab label="Liste des Types Congés">
          <div class="demo-tab-content">
            <br>
      <table class="table table-hover" cellspacing="0">
        <thead>
        <tr>
        <th>{{'Table.CID'| translate}}</th><th>Titre</th><th>نوع العطلة</th><th>{{'Table.CAutorisation' | translate}}</th><th>{{'Table.CNombreJ' | translate}}</th><th>{{'Table.CModifier' | translate}}</th><th>{{'Table.CSupprimer' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tc of pageTypeConge?.content">
          <td>{{tc.idCg}}</td>
          <td>{{tc.libelleType}}</td>
          <td>{{tc.libelleTypeAr}}</td>
          <td>{{autoriser(tc.autorisation)}}</td>
          <td>{{tc.nbMaxJrs}}</td>
          <td><a (click)="onEditTypeConge(tc.idCg)" class="clickable"><mat-icon>create</mat-icon></a> </td>
          <td><a (click)="onDeleteTypeConge(tc)" class="clickable"> <mat-icon>delete_sweep</mat-icon></a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-tab>
</mat-tab-group>
    </div>
    </div>
  </div>
