<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Ajouter Type Congé</div>
  <div class="panel-body">
    <mat-form-field>
      <input matInput placeholder="libelle" [(ngModel)]="typeConge.libelle">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" [(ngModel)]="typeConge.description">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nombre de jours" [(ngModel)]="typeConge.nbMaxJrs">
    </mat-form-field>

    <button  mat-icon-button (click)="ajouter()">
      <mat-icon>add_circle</mat-icon></button>
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">Afficher Congé</div>
    <div class="panel-body">
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="motCle">
      </mat-form-field>
      <button mat-icon-button color="" (click)="doSearch()">
        <mat-icon>search</mat-icon></button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Titre</th><th>Description</th><th>Nombre De Jours</th><th>Modifier</th><th>Supprimer</th>
        </tr>
        <tr *ngFor="let tc of typeConges">
          <td>{{tc.idCg}}</td>
          <td>{{tc.libelle}}</td>
          <td>{{tc.description}}</td>
          <td>{{tc.nbMaxJrs}}</td>
          <td><a (click)="onEditTypeConge(tc.idCg)" class="clickable"><mat-icon>create</mat-icon></a> </td>
          <td><a (click)="onDeleteTypeConge(tc)" class="clickable"> <mat-icon color="#B00020">delete_sweep</mat-icon></a> </td>
        </tr></table>
    </div>
  </div>
