<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-heading">{{'SideBar.ModSpeci' | translate}}</div>
    <div class="panel-body">
      <div>
          <mat-form-field>
              <input matInput placeholder="ID" [(ngModel)]="specialite.idSp" disabled>
            </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Libellé" [(ngModel)]="specialite.libelleSp">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="الإختصاص" [(ngModel)]="specialite.libelleSpAr">
          </mat-form-field>
        <button  mat-mini-fab color="primary" (click)="updateSpecialite()">
          <mat-icon>create</mat-icon></button>
      </div>
    </div>
  </div>
