<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Ajouter Grade</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="grade.titre">
      </mat-form-field>

          <button  mat-icon-button (click)="ajouter()">
            <mat-icon>add_circle</mat-icon></button>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Afficher Grade</div>
    <div class="panel-body">
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="motCle">
      </mat-form-field>
        <button mat-icon-button color="" (click)="doSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Titre</th><th>Modifier Grade</th><th>Supprimer Grade</th>
        </tr>
        <tr *ngFor="let g of grades">
          <td>{{g.id}}</td>
          <td>{{g.titre}}</td>
          <td><a (click)="onEditGrade(g.id)" class="clickable"> <mat-icon>create</mat-icon></a> </td>
          <td><a (click)="onDeleteGrade(g)" class="clickable"> <mat-icon color="#B00020">delete_sweep</mat-icon></a> </td>
        </tr></table>
    </div>
  </div>

