<app-index></app-index>
<div class="container spacer">
<div class="panel panel-default">
  <div class="panel-heading">{{'SideBar.MGrade' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="grade.titre">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="الرتبة" [(ngModel)]="grade.titreAr">
        </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Corps / السلك" [(value)]="corps">
            <mat-option *ngFor="let c of corpss" [value]="c">
            {{ c.libelleCps+" / "+c.libelleCpsAr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <button  mat-mini-fab color="primary" (click)="ajouter()">
            <mat-icon>add</mat-icon></button>
        </div>
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Liste des Grade">
              <div class="demo-tab-content">
                <br>
          <table class="table table-hover" cellspacing="0">
            <thead>
        <tr>
      <th>{{'Table.CID'| translate}}</th><th>Titre</th><th>الرتبة</th><th>{{'Table.CModifier' | translate}}</th><th>{{'Table.CSupprimer' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of pageGrade?.content">
          <td>{{g.id}}</td>
          <td *ngIf="g.titre!=null">{{g.titre}}</td>
          <td *ngIf="g.titre==null">-</td>
          <td *ngIf="g.titreAr!=null">{{g.titreAr}}</td>
          <td *ngIf="g.titreAr==null">-</td>
          <td><a (click)="onEditGrade(g.id)" class="clickable"> <mat-icon>create</mat-icon></a> </td>
          <td><a (click)="onDeleteGrade(g)" class="clickable"> <mat-icon>delete_sweep</mat-icon></a> </td>
        </tr>
      </table>
    </div>
  </mat-tab>
  </mat-tab-group>
     </div>
    </div>
  </div>

