<div>
  <mat-toolbar color="primary" role="header">
    <span> <button mat-button [matMenuTriggerFor]="user">Utilisateur</button></span>
    <span> <button mat-button [matMenuTriggerFor]="enseignant">Enseignant</button></span>
    <span> <button mat-button [matMenuTriggerFor]="mutation">Mutation</button></span>
    <span> <button mat-button [matMenuTriggerFor]="conge">Congé</button></span>
    <span> <button mat-button [matMenuTriggerFor]="donneesbase">Données des Bases</button></span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
    <mat-menu #donneesbase="matMenu">
      <span> <button mat-menu-item routerLink="/grade">Grade</button></span>
      <span> <button mat-menu-item routerLink="/diplome" >Diplôme</button></span>
      <span> <button mat-menu-item routerLink="/departement">Departement</button></span>
      <span> <button mat-menu-item routerLink="/corps" >Corps</button></span>
  </mat-menu>
  <mat-menu #enseignant="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="enseignantpermanent">Enseignant Permanent</button>
    <button mat-menu-item [matMenuTriggerFor]="enseignantvacataire">Enseignant Vacataire</button>
  </mat-menu>
  <mat-menu #user="matMenu">
    <button mat-menu-item routerLink="/new-user">Ajouter Utilisateur</button>
    <button mat-menu-item routerLink="/users">Consulter Liste des utilisateurs</button>
  </mat-menu>
  <mat-menu #enseignantpermanent="matMenu">
    <button mat-menu-item routerLink="/enseignantpermanent">Ajouter Enseignant</button>
    <button mat-menu-item routerLink="/ListeEnseignantP">Consulter la Liste des Enseignants</button>
    <button mat-menu-item routerLink="/DiplomePersonnel">Dipôme Personnel</button>
    <button mat-menu-item [matMenuTriggerFor]="poste">Poste Administratif</button>
  </mat-menu>
  <mat-menu #enseignantvacataire="matMenu">
    <button mat-menu-item >Ajouter Enseignant</button>
    <button mat-menu-item>Consulter la Liste des Enseignants</button>
  </mat-menu>
  <mat-menu #conge="matMenu">
  <button mat-menu-item routerLink="/conge">Ajouter Conge</button>
  <button mat-menu-item routerLink="/consultationConge">Consulter Liste des demandes</button>
  <button mat-menu-item routerLink="/typeConge"> Ajouter Type Congé</button>
</mat-menu>
  <mat-menu #mutation="matMenu">
    <button mat-menu-item routerLink="/mutation">Ajouter Mutation</button>
    <button mat-menu-item routerLink="/typeMutation">Ajouter Type Mutation</button>
  </mat-menu>
  <mat-menu #poste="matMenu">
    <button mat-menu-item routerLink="/posteAdmin">Ajouter Poste</button>
    <button mat-menu-item routerLink="/typeMutation">Ajouter Periode</button>
  </mat-menu>
</div>

