<div>
      <div class="panel panel-primary">
        <div class="panel-heading">Accueil</div>
        <div class="panel-body">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Utlisateurs
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>  <a routerLink="/users">Utilisateurs</a></li>
              <li><a routerLink="/new-user">Nouveau Utilisateur</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Diplomes
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>  <a routerLink="/diplome">Nouveau Diplome</a></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
