  <mat-toolbar role="header">
      <span><div id="logo"><img class="img-circle profile_img" src="../../assets/images/iset.png"/></div></span>
         <span class="example-fill-remaining-space"></span>
              <div class="nav toggle">
                <a id="menu_toggle" (click)="toggleClicked($event)"><i fa [icon]="'bars'"></i></a>
              </div>              
              <ul class="nav navbar-nav navbar-right">
                  <li role="presentation" class="dropdown">
                      <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge bg-green">{{nomberConge}}</span>
                      </a>
                      <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li *ngFor="let c of pageConge?.content">
                          <a routerLink="/consultationConge">
                            <span class="image"><img src="../../assets/images/img.jpg" alt="Profile Image" /></span>
                            <span>
                              <span>{{nom_demande}}</span>
                              <span class="time">Il y a 3 minutes</span>
                            </span>
                            <span class="message">
                              {{nom_demande}} a une demande de conge
                            </span>
                          </a>
                        </li>
                      <li>
                          <div class="text-center">
                            <a routerLink="/consultationConge">
                              <strong>{{'navBar.MVoirTous'| translate}}</strong>
                              <i class="fa fa-angle-right"></i>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/images/img.jpg" alt="">
                    <span class="fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a routerLink="/profile"><strong *ngIf="lang==='fr'">{{nom}}</strong><strong *ngIf="lang==='ar'">{{nomAr}}</strong></a></li> 
                    <li><a routerLink="/profile"> {{'navBar.Mprofile'| translate}}</a></li>
                    <li><a routerLink="/login"><i class="fa fa-sign-out pull-right"></i>{{'navBar.Mdeconnexion'| translate}}</a></li>
                  </ul>
                </li>
              </ul>
       </mat-toolbar>
        <div class="menu"><app-side-bar></app-side-bar></div>
      

