<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-heading">{{'SideBar.ModOrg' | translate}}</div>
    <div class="panel-body">
      <div>
          <mat-form-field>
              <input matInput placeholder="ID" [(ngModel)]="organisme.idOrg" disabled>
            </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Libellé" [(ngModel)]="organisme.libelleOrg">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="المؤسسة" [(ngModel)]="organisme.libelleOrgAr">
          </mat-form-field>
        <button  mat-mini-fab color="primary" (click)="updateOrg()">
            <mat-icon>create</mat-icon></button>
      </div>
      </div>
      </div>
      </div>