<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Modifier Enseignant</div>
    <div class="panel-body">
      <mat-accordion>
        <form #fe>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Données Personnelle
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field matTooltip="Max 8 chiffre" matTooltipPosition="above">
              <input matInput type="text" name="matricule" #input maxlength="8" placeholder="Matricule" [(ngModel)]="enseignantP.matricule" required>
              <mat-hint align="end">{{input.value?.length||0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
              <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="CIN"  [(ngModel)]="enseignantP.cin" required>
              <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nom" type="text" name="nom"  [(ngModel)]="enseignantP.nom" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="enseignantP.prenom" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nom de Pére" type="text" name="nompere" [(ngModel)]="enseignantP.nompere" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" name="datenais" [(ngModel)]="enseignantP.datenaissance" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Lieu de Naissance" type="text" name="lieu" [(ngModel)]="enseignantP.lieuNaissance">
            </mat-form-field>
            <mat-radio-group [(ngModel)]="enseignantP.sexe" name="sexe">
              <mat-radio-button value="F">Femme</mat-radio-button>
              <mat-radio-button value="H">Homme</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
              <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="enseignantP.telephone">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="enseignantP.email" required>
              <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Adresse" type="text" name="adresse" [(ngModel)]="enseignantP.adresse" required></textarea>
            </mat-form-field>
            <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
              <input matInput #input2 maxlength="4" placeholder="Code Postal" type="text" name="code" [(ngModel)]="enseignantP.codepostal">
              <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Spécialité" type="text" name="specialite" [(ngModel)]="enseignantP.specialite" required>
            </mat-form-field>
            <mat-form-field hintLabel="Max 20 caractére">
              <input matInput #input3 maxlength="20" placeholder="RIB" type="text" name="rib" [(ngModel)]="enseignantP.rib" required>
              <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
            </mat-form-field><br>
            <mat-radio-group [(ngModel)]="enseignantP.etatCivil" name="etatcivil" #etatcivil>
              <mat-radio-button value="Celibataire">Célibataire</mat-radio-button>
              <mat-radio-button value="Marie">Marié(e)</mat-radio-button>
              <mat-radio-button value="Divorce">Divorcé(e)</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="enseignantP.etatCivil=='Marie'">
              <input matInput placeholder="Nom Conjoint" type="text" name="nomconj" [(ngModel)]="enseignantP.nomConjoint">
            </mat-form-field>
            <mat-form-field *ngIf="enseignantP.etatCivil=='Marie'">
              <input matInput placeholder="Profession Conjoint" type="text" name="profConj" [(ngModel)]="enseignantP.profConjoint">
            </mat-form-field>
            <form *ngIf="enseignantP.etatCivil=='Marie'||enseignantP.etatCivil=='Divorce'">
              <mat-form-field>
                <input matInput placeholder="Nomber d'enfant" type="text" name="nbenfant" #nbenf [(ngModel)]="nbEnfant">
              </mat-form-field>
              <div *ngFor="let e of enfants">
                <app-enfants></app-enfants>
              </div>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Données Professionnelles
              </mat-panel-title>
              <mat-panel-description>
                {{enseignantP.prenom+"   "+enseignantP.nom}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <mat-select placeholder="Departement" [(value)]="departement" required>
                <mat-option *ngFor="let d of departements" [value]="d">
                  {{ d.nomDep }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Corps" [(value)]="corp" required>
                <mat-option *ngFor="let c of corps" [value]="c">
                  {{ c.libelle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Date de Recrutement" [(ngModel)]="enseignantP.dateRecrutement" name="dateR">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker4" placeholder="Date de Titularisation" [(ngModel)]="enseignantP.dateTitularisation" name="dateT">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field><br>
            <mat-radio-group [(ngModel)]="enseignantP.etat" required name="etat">
              <mat-radio-button value="actif">Actif</mat-radio-button>
              <mat-radio-button value="non-actif">Non-Actif</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>
          <button mat-raised-button color="primary" (click)=" updateEnseignant()">Modifier</button>
          <button mat-raised-button color="primary" (click)="fe.reset()">Annuler</button>
        </form>
      </mat-accordion>
    </div>
  </div>
</div>

