<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-info">
    <div class="panel-heading">{{'SideBar.ModEnseignant' | translate}}</div>
    <div class="panel-body">
      <mat-accordion>
        <form #fe>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CAjouterEnseig' | translate}}
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field matTooltip="Max 8 chiffre" matTooltipPosition="above">
              <input matInput type="text" name="matricule" #input maxlength="8" placeholder="Matricule" [(ngModel)]="enseignantP.matricule" required>
              <mat-hint align="end">{{input.value?.length||0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
              <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="CIN"  [(ngModel)]="enseignantP.cin" required>
              <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nom" type="text" name="nom"  [(ngModel)]="enseignantP.nom" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="enseignantP.prenom" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Nom de Pére" type="text" name="nompere" [(ngModel)]="enseignantP.nompere" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" name="datenais" [(ngModel)]="enseignantP.datenaissance" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Lieu de Naissance" type="text" name="lieu" [(ngModel)]="enseignantP.lieuNaissance">
            </mat-form-field>
            <mat-radio-group [(ngModel)]="enseignantP.sexe" name="sexe">
              <mat-radio-button value="Femme">Femme</mat-radio-button>
              <mat-radio-button value="Homme">Homme</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
              <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="enseignantP.telephone">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="enseignantP.email" required>
              <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Adresse" type="text" name="adresse" [(ngModel)]="enseignantP.adresse" required></textarea>
            </mat-form-field>
            <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
              <input matInput #input2 maxlength="4" placeholder="Code Postal" type="text" name="code" [(ngModel)]="enseignantP.codepostal">
              <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
            </mat-form-field>
            <mat-form-field hintLabel="Max 20 caractére">
              <input matInput #input3 maxlength="20" placeholder="RIB" type="text" name="rib" [(ngModel)]="enseignantP.rib" required>
              <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
            </mat-form-field><br>
            <mat-radio-group [(ngModel)]="enseignantP.etatCivil" name="etatcivil" #etatcivil>
              <mat-radio-button value="Célibataire">Célibataire</mat-radio-button>
              <mat-radio-button value="Marié(e)">Marié(e)</mat-radio-button>
              <mat-radio-button value="Divorcé(e)">Divorcé(e)</mat-radio-button>
              <mat-radio-button value="Veuf(ve)">Veuf(ve)</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="enseignantP.etatCivil=='Marié(e)'">
              <input matInput placeholder="Nom Conjoint" type="text" name="nomconj" [(ngModel)]="enseignantP.nomConjoint">
            </mat-form-field>
            <mat-form-field *ngIf="enseignantP.etatCivil=='Marié(e)'">
              <input matInput placeholder="Profession Conjoint" type="text" name="profConj" [(ngModel)]="enseignantP.profConjoint">
            </mat-form-field>
            <mat-form-field *ngIf="enseignantP.etatCivil=='Marié(e)'">
                <input matInput placeholder="Sociéte de travaille de Conjoint" type="text" name="societConj" [(ngModel)]="enseignantP.societConj">
                </mat-form-field>
          </mat-expansion-panel>
 <!--Formulaire Arabe-->
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'Table.CAjouterEnseigAr' | translate}} 
      </mat-panel-title>
      <mat-panel-description>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field matTooltip="Max 12 chiffre" matTooltipPosition="above">
      <input matInput type="text" name="matricule" #input maxlength="12" placeholder="المعرف الوحيد" [(ngModel)]="enseignantP.matricule" required>
      <mat-hint align="end">{{input.value?.length||0}}/12</mat-hint>
    </mat-form-field>
    <mat-form-field matTooltip="Max 8 caractére" matTooltipPosition="above">
      <input matInput type="text" name="cin" #input1 maxlength="8" placeholder="ب.ت.و."  [(ngModel)]="enseignantP.cin" required>
      <mat-hint align="end">{{input1.value?.length||0}}/8</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="الإسم" type="text" name="prenomar" [(ngModel)]="enseignantP.prenomAr" required>
      </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="اللقب" type="text" name="nomar"  [(ngModel)]="enseignantP.nomAr" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="إسم الأب" type="text" name="nomperear" [(ngModel)]="enseignantP.nompereAr" required>
      </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerNai" placeholder="تاريخ الولادة" name="datenais" [(ngModel)]="enseignantP.datenaissance" required>
      <mat-datepicker-toggle matSuffix [for]="pickerNai" startView="year"></mat-datepicker-toggle>
      <mat-datepicker #pickerNai></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="مكان الولادة" type="text" name="lieuar" [(ngModel)]="enseignantP.lieuNaissanceAr">
      </mat-form-field>
    <mat-radio-group [(ngModel)]="enseignantP.sexeAr" name="sexear">
      <mat-radio-button value="انثى">أنثى</mat-radio-button>
      <mat-radio-button value="ذكر">ذكر</mat-radio-button>
    </mat-radio-group>
     <mat-form-field>
      <input matInput placeholder="الهاتف" type="text" name="telephone" [(ngModel)]="enseignantP.telephone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="البريد الإلكتروني" type="email" name="email" [(ngModel)]="enseignantP.email" required>
      <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="العنوان" type="text" name="adressear" [(ngModel)]="enseignantP.adresseAr" required></textarea>
      </mat-form-field>
    <mat-form-field matTooltip="Max 4 caractére" matTooltipPosition="above">
      <input matInput #input2 maxlength="4" placeholder="الصندوق البريدي" type="text" name="code" [(ngModel)]="enseignantP.codepostal">
      <mat-hint align="end">{{input2.value?.length||0}}/4</mat-hint>
    </mat-form-field>
       <mat-form-field hintLabel="Max 20 caractére">
      <input matInput #input3 maxlength="20" placeholder="رقم الحساب الجاري" type="text" name="rib" [(ngModel)]="enseignantP.rib" required>
      <mat-hint align="end">{{input3.value?.length||0}}/20</mat-hint>
    </mat-form-field><br>
    <mat-radio-group [(ngModel)]="enseignantP.etatCivilAr" name="etatcivilar" #etatcivil>
      <mat-radio-button *ngIf="enseignantP.sexeAr==='ذكر' ||enseignantP.sexeAr===''"value="أعزب">أعزب</mat-radio-button>
      <mat-radio-button *ngIf="enseignantP.sexeAr==='انثى'"value="عزباء">عزباء</mat-radio-button>
      <mat-radio-button value="(متزوج(ة">(متزوج(ة</mat-radio-button>
      <mat-radio-button value="(مطلق(ة">(مطلق(ة</mat-radio-button>
      <mat-radio-button value="(أرمل(ة">(أرمل(ة</mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="enseignantP.etatCivilAr=='(متزوج(ة'">
      <input matInput placeholder="إسم القرين" type="text" name="nomconjar" [(ngModel)]="enseignantP.nomConjointAr">
    </mat-form-field>
    <mat-form-field *ngIf="enseignantP.etatCivilAr=='(متزوج(ة'">
    <input matInput placeholder="مهنة القرين" type="text" name="profConjar" [(ngModel)]="enseignantP.profConjointAr">
    </mat-form-field>
    <mat-form-field *ngIf="enseignantP.etatCivilAr=='(متزوج(ة'">
        <input matInput placeholder="مؤسسة عمل القرين" type="text" name="Societear" [(ngModel)]="enseignantP.societConjAr">
        </mat-form-field>
    </mat-expansion-panel>
<!--end Formulaire Arabe-->
        <mat-expansion-panel *ngIf="enseignantP.etatCivil=='Marié(e)'||enseignantP.etatCivil=='Veuf(ve)'||enseignantP.etatCivil=='Divorcé(e)'||enseignantP.etatCivilAr=='(متزوج(ة'||enseignantP.etatCivilAr=='(مطلق(ة'||enseignantP.etatCivilAr=='(أرمل(ة'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Table.CEnfants' | translate}}
            </mat-panel-title>
            <mat-panel-description *ngIf="lang=='fr'">
            {{enseignantP.prenom+"   "+enseignantP.nom}}
            </mat-panel-description>
            <mat-panel-description *ngIf="lang=='ar'">
              {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="enfants!=null">
          <form #enfant *ngFor="let e of enfants; let i=index">
            <mat-form-field>
              <input matInput placeholder="Nom Enfant" type="text" name="nomenf" required [(ngModel)]="e.nom" disabled>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="إسم الإبن" type="text" name="nomenfar" required [(ngModel)]="e.nomAr" disabled>
              </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="pickerEn1" placeholder="Date de Naissance/تاريخ الولادة" name="enf" [(ngModel)]="e.dateNais" disabled>
              <mat-datepicker-toggle matSuffix [for]="pickerEn1"></mat-datepicker-toggle>
              <mat-datepicker #pickerEn1 [(ngModel)]="e.dateNais"></mat-datepicker>
            </mat-form-field>
            <button mat-mini-fab color="black" (click)="ModifierEnfants(e)"><mat-icon>edit</mat-icon></button>
          </form>
        </div>
          <form *ngFor="let e of newEnfants; let i=index">
            <mat-form-field>
              <input matInput placeholder="Nom Enfant" type="text" name="nomenf" required [(ngModel)]="e.nom" >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="إسم الإبن" type="text" name="nomenfar" required [(ngModel)]="e.nomAr" disabled>
              </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="pickerEn" placeholder="Date de Naissance/تاريخ الولادة" name="datenf" [(ngModel)]="e.dateNais">
              <mat-datepicker-toggle matSuffix [for]="pickerEn"></mat-datepicker-toggle>
              <mat-datepicker #pickerEn></mat-datepicker>
            </mat-form-field>
          </form>
          <button mat-mini-fab color="primary" (click)="ajouterEnfants()"><mat-icon>add</mat-icon></button>
        </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CDonneesProf' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantP.prenom+"   "+enseignantP.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="specialite!=null && specialiteModifiable==false">
                <mat-form-field>
                    <input matInput placeholder="Specialité" type="text" name="sp" required [(ngModel)]="specialite.libelleSp" disabled>
                  </mat-form-field>
                    <mat-form-field>
                    <input matInput placeholder="الإختصاص" type="text" name="spAr" required [(ngModel)]="specialite.libelleSpAr" disabled>
                  </mat-form-field>
                  <button  mat-icon-button color="" (click)="ModifierSpecialite()"><mat-icon>create</mat-icon></button>
                </div>
            <mat-form-field *ngIf="specialite===null || specialiteModifiable==true">
                <mat-select placeholder="Spécialité/الإختصاص" [(ngModel)]="specialite" name="spec" required>
                  <mat-option *ngFor="let s of specialites" [value]="s">
                    {{ s.libelleSp+"/"+s.libelleSpAr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div *ngIf="departement!=null && departementModifiable==false">
            <mat-form-field>
                <input matInput placeholder="Departement" type="text" name="dep" required [(ngModel)]="enseignantP.departement.nomDep" disabled>
              </mat-form-field>
                <mat-form-field>
                <input matInput placeholder="القسم" type="text" name="depar" required [(ngModel)]="enseignantP.departement.nomDepAr" disabled>
              </mat-form-field>
              <button  mat-icon-button color="" (click)="ModifierDepartement()"><mat-icon>create</mat-icon></button>
            </div>
              <mat-form-field *ngIf="departement===null || departementModifiable==true">
              <mat-select placeholder="Departement/القسم" [(value)]="departement" required>
                <mat-option *ngFor="let d of departements" [value]="d">
                  {{ d.nomDep+"/"+d.nomDepAr }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Date de Recrutement/تاريخ الإنتداب" [(ngModel)]="enseignantP.dateRecrutement" name="dateR">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker4" placeholder="Date de Titularisation/تاريخ الترسيم" [(ngModel)]="enseignantP.dateTitularisation" name="dateT">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4 [(ngModel)]="enseignantP.dateTitularisation"></mat-datepicker>
            </mat-form-field><br>
                <div *ngIf="orgOrigine!=null && orgModifiable==false">
                    <mat-form-field>
                        <input matInput placeholder="Organisme Origine" type="text" name="org" required [(ngModel)]="orgOrigine.libelleOrg" disabled>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="المؤسسة الأصلية" type="text" name="orgAr" required [(ngModel)]="orgOrigine.libelleOrgAr" disabled>
                        </mat-form-field>
                      <button  mat-icon-button color="" (click)="ModifierOrganisme()"><mat-icon>create</mat-icon></button>
                    </div>
              <mat-form-field *ngIf="orgOrigine===null || orgModifiable==true">
              <mat-select placeholder="Organisme Origine/المؤسسة الأصلية" [(value)]="orgOrigine" name="org">
                <mat-option *ngFor="let o of orgOrigines" [value]="o">
                  {{ o.libelleOrg+" / "+o.libelleOrgAr }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker7" placeholder="Date d'entrée/تاريخ الدخول" [(ngModel)]="enseignantP.dateEntree" name="dateorg">
              <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
              <mat-datepicker #picker7></mat-datepicker>
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'SideBar.SMDiplomes' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantP.prenom+"   "+enseignantP.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="diplomepers!=null">
            <form *ngFor="let d of diplomepers; let i=index">
                <mat-form-field *ngIf="d.diplome!=null">
                    <input matInput placeholder="Diplôme" type="text" name="dip" required [(ngModel)]="d.diplome.titreDip" disabled>
                  </mat-form-field>
                  <mat-form-field *ngIf="d.diplome!=null">
                    <input matInput placeholder="الشهادة" type="text" name="dipar" required [(ngModel)]="d.diplome.titreDipAr" disabled>
                  </mat-form-field>
            <mat-form-field *ngIf="d.diplome!=null">
              <input matInput [matDatepicker]="dip" placeholder="Date de Diplôme/تاريخ الحصول على الشهادة" name="datedip" [(ngModel)]="d.date" disabled>
              <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
              <mat-datepicker #dip></mat-datepicker>
            </mat-form-field>
            <button *ngIf="d.diplome!=null" mat-mini-fab color="black" (click)="ModifierDiplome(d)"><mat-icon>edit</mat-icon></button> 
           </form>
          </div>
           <form *ngFor="let d of newdiplomes; let i=index">
              <mat-form-field >
                  <mat-select placeholder="Diplôme/الشهادة" [(value)]="d.diplome">
                    <mat-option *ngFor="let dip of diplomes" [value]="dip">
                      {{ dip.titreDip+"/"+dip.titreDipAr }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="dip" placeholder="Date de Diplôme/تاريخ الحصول على الشهادة" name="datedip" [(ngModel)]="d.date">
                  <mat-datepicker-toggle matSuffix [for]="dip"></mat-datepicker-toggle>
                  <mat-datepicker #dip></mat-datepicker>
                </mat-form-field>
           </form>
            <button mat-mini-fab color="primary" (click)="ajouterDiplome()"><mat-icon>add</mat-icon></button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'SideBar.MGrade' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantP.prenom+"   "+enseignantP.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="AGrades!=null">
            <form *ngFor="let g of AGrades; let i=index">
                <mat-form-field *ngIf="g.grade!=null">
                    <input matInput placeholder="Grade" type="text" name="grad" required [(ngModel)]="g.grade.titre" disabled>
                  </mat-form-field>
                  <mat-form-field *ngIf="g.grade!=null">
                    <input matInput placeholder="الرتبة" type="text" name="gradar" required [(ngModel)]="g.grade.titreAr" disabled>
                  </mat-form-field>
            <mat-form-field *ngIf="g.grade!=null">
              <input matInput [matDatepicker]="picker1" placeholder="Date de Grade/تاريخ الرتبة" name="dategrade" [(ngModel)]="g.dateEvaluation" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <button mat-mini-fab color="black" *ngIf="g.grade!=null" (click)="ModifierGrade(g)"><mat-icon>edit</mat-icon></button>
          </form>
        </div>
          <form *ngFor="let g of NewAGrades; let i=index">
              <mat-form-field>
                <mat-select placeholder="Grade/الرتبة" [(value)]="g.grade">
                  <mat-option *ngFor="let grd of grades" [value]="grd">
                    {{ grd.titre+"/"+grd.titreAr }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Date de Grade" name="dategrade" [(ngModel)]="g.dateEvaluation">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </form>
            <button mat-mini-fab color="primary" (click)="ajouterGrade()"><mat-icon>add</mat-icon></button>
          </mat-expansion-panel>
          <!--poste administrative-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'SideBar.MPoste' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantP.prenom+"   "+enseignantP.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="periodes!=null">
              <form *ngFor="let p of periodes; let i=index">
                  <mat-form-field *ngIf="p.posteAdmin!=null">
                        <input matInput placeholder="Poste Administratif" type="text" name="post" required [(ngModel)]="p.posteAdmin.libellePos" disabled>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker1" placeholder="Date de Debut/تاريخ البدء" name="dateposte" [(ngModel)]="p.dateDebut" disabled>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="Date de Fin/تاريخ النهاية" name="datefin" [(ngModel)]="p.dateFin" disabled>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
              <button mat-mini-fab color="black" *ngIf="p.posteAdmin!=null" (click)="ModifierPoste(p)"><mat-icon>edit</mat-icon></button>
            </form>
          </div>
            <form *ngFor="let p of newperiodes; let i=index">
            <mat-form-field>
              <mat-select placeholder="Poste Administratif/الخطة" [(value)]="p.posteAdmin">
                <mat-option *ngFor="let pos of postes" [value]="pos">
                  {{ pos.libellePos+" / "+pos.libellePosAr }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Date de Debut/تاريخ البدء" name="dateposte1" [(ngModel)]="p.dateDebut">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Date de Fin/تاريخ النهاية" name="datefin1" [(ngModel)]="p.dateFin">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </form>
            <button mat-mini-fab color="primary" (click)="ajouterPoste()"><mat-icon>add</mat-icon></button>
          </mat-expansion-panel>
          <!--end poste administrative-->
          <!--Etat-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'Table.CEtat' | translate}}
              </mat-panel-title>
              <mat-panel-description *ngIf="lang=='fr'">
                {{enseignantP.prenom+"   "+enseignantP.nom}}
                </mat-panel-description>
                <mat-panel-description *ngIf="lang=='ar'">
                  {{enseignantP.prenomAr+"   "+enseignantP.nomAr}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
          <div *ngIf="etat!=null && etatModifiable==false">
            <mat-form-field>
                <input matInput placeholder="Etat" type="text" name="et" required [(ngModel)]="etat.libelleEtat" disabled>
              </mat-form-field>
                <mat-form-field>
                <input matInput placeholder="الحالة" type="text" name="etar" required [(ngModel)]="etat.libelleEtatAr" disabled>
              </mat-form-field>
              <button  mat-icon-button color="" (click)="ModifierEtat()"><mat-icon>create</mat-icon></button>
            </div>
          
          <mat-form-field *ngIf="etat===null || etatModifiable==true">
            <mat-select placeholder="Etat" [(value)]="etat" required name="etat">
              <mat-option *ngFor="let e of etats" [value]="e">
                {{ e.libelleEtat+"/"+e.libelleEtatAr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="lang=='fr'">
                <mat-form-field *ngIf="etat.libelleEtat=='non-actif'">
                  <input matInput placeholder="Raison" type="text" name="raison" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.etatInactive" required>
                </mat-form-field>
                <mat-form-field *ngIf="etat.libelleEtat=='détaché'">
                  <input matInput placeholder="Lieu de Détatcement" type="text" name="lieu" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.lieuDetachement" required>
                </mat-form-field>
            </div>
              <div *ngIf="lang=='ar'">
                <mat-form-field *ngIf="etat.libelleEtatAr=='غير مباشر'">
                  <input matInput placeholder="السبب" type="text" name="raisonAr" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.etatInactiveAr" required>
                </mat-form-field>
                <mat-form-field *ngIf="etat.libelleEtatAr=='ملحق'">
                  <input matInput placeholder="مكان الإلحاق" type="text" name="lieuAr" [disabled]="!etatModifiable" [(ngModel)]="etatPersonnel.lieuDetachementAr" required>
                </mat-form-field>
            </div>
          </mat-expansion-panel>
          <!--end Etat-->
          <button mat-raised-button color="primary" (click)=" updateEnseignant()">{{'Table.CModifier' | translate}}</button>
          <button mat-raised-button color="primary" (click)="fe.reset()">{{'Table.CAnnuler' | translate}}</button>
        </form>
      </mat-accordion>
    </div>
  </div>
</div>

