<app-index></app-index>
<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Modifier Diplôme</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="Identifiant" [(ngModel)]="diplome.idDip">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="diplome.titre">
      </mat-form-field>
          <button  mat-icon-button (click)="updateDiplome()"> <mat-icon>create</mat-icon></button>
        </div>
    </div>
  </div>
</div>
