<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModDip' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="diplome.idDip" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="diplome.titreDip">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="الشهادة العلمية" [(ngModel)]="diplome.titreDipAr">
        </mat-form-field>
          <button  mat-mini-fab color="primary" (click)="updateDiplome()"> <mat-icon>create</mat-icon></button>
        </div>
    </div>
  </div>
</div>
