<div class="panel panel-info">
  <div class="panel-heading">Ajouter Diplôme</div>
  <div class="panel-body">
<form>
<div class="input-group">
  <span class="input-group-addon">Text</span>
  <input id="msg" type="text" class="form-control" name="msg" placeholder="Titre de Diplôme">
  <button type="button" class="btn btn-primary btn-md" (click)="ajouter()">Ajouter Diplôme</button>
</div>
</form>
    <div class="form-group">
      <label>Mot Clé</label>
      <input type="text" [(ngModel)]="motCle"/>
      <button class="btn btn-primary" (click)="chercher()">Chercher</button>
    </div>
  <table class="table table-striped">
  <tr>
    <th>ID</th><th>Titre</th>
  </tr>
  <tr *ngFor="let d of pageDiplome?.content">
    <td>{{d.id}}</td>
    <td>{{d.titre}}</td>
    <td><a (click)="onEditDiplome(d.id)" class="clickable">Modifier</a> </td>
    <td><a (click)="onDeleteDiplome(d)" class="clickable">Supprimer</a> </td>
  </tr>
</div>
</div>
